<p id="notice"><%= notice %></p>
<p>
  <strong>User:</strong>
  <%= @push.user_id %>
</p>
<p>
  <strong>Data:</strong>
  <%= @push.data %>
</p>
<%= link_to 'Edit', edit_push_path(@push) %> |
<%= link_to 'Terug', pushes_path, class: 'btn btn-default' %>
