<%= form_for @usergroup, html: {class: 'space-y-2 space-y'} do |f| %>
  <% if @usergroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usergroup.errors.count, 'error') %> prohibited this group from being saved:</h2>

      <ul>
        <% @usergroup.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name, class: label_classes %>
  <%= f.text_field :name, class: input_classes %>

  <%= f.label :description, class: label_classes %>
  <%= f.text_field :description, placeholder: 'Wat voor groep is dit?', class: input_classes %>

  <% if @usergroup.logo.attached? %>
    <%= image_tag @usergroup.logo.representation(resize_to_limit: [128, 128]) %>
  <% end %>
  <%= f.label :logo, class: label_classes %>
  <%= f.file_field :logo %>

  <%= f.label :signal_url, class: label_classes %>
  <%= f.text_field :signal_url, class: input_classes %>

  <div class="relative flex items-start">
    <div class="flex items-center h-5">
      <%= f.check_box :archived, class: checkbox_classes %>
    </div>
    <div class="ml-3 text-sm">
      <%= f.label :archived, "Gearchiveerd", class: "font-medium text-gray-700" %>
      <span id="comments-description" class="text-gray-500 sr-only">Archiveer deze groep.</span>
    </div>
  </div>

  <% render 'users/multiselect' %>

  <%= f.submit :Opslaan, class: submit_classes %>
<% end %>
