<li class="flex">
  <%= link_to usergroup, class: "w-full px-4 py-4 border-b border-gray-50 dark:border-gray-700 flex items-center sm:px-6 block hover:bg-gray-50 dark:hover:bg-gray-700" do %>
    <div class="min-w-0">
      <% if usergroup.logo.attached? %>
        <%= image_tag usergroup.logo.representation(resize_to_limit: [100, 100]), class: "h-12 w-12 mr-4 rounded-full" %>
      <% else %>
        <img class="h-12 w-12 mr-4 rounded-full" src="https://placehold.co/500x500?text=Geen logo" alt="Geen logo">
      <% end %>
    </div>
    <div class="min-w-0 flex-1 sm:flex sm:items-center sm:justify-between">
      <div class="truncate">
        <p class="flex font-medium text-sm dark:text-gray-200">
          <%= usergroup.name %>
        </p>
        <p class="flex text-sm text-gray-500 dark:text-gray-400">
          <%= usergroup.description %>
        </p>
      </div>
      <div class="mt-4 flex-shrink-0 sm:mt-0 sm:ml-5">
        <div class="flex overflow-hidden -space-x-1">
          <% usergroup.users.each do |user| %>
            <%= gravatar_for user, class: user_icon_stack_image(10), alt: user.name %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</li>
