<% content_for :title do %>
    Groepen
<% end %>
<% @usergroups.each do |group| %>
    <li>
      <%= group.name %>
    </li>
<% end %>
<% if current_user.admin? %>
    <%= form_for(@group) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="form-group">
          <%= f.text_field :name, placeholder: 'Groep', class: 'form-control' %>
          <%= f.submit 'Create', class: 'btn btn-large btn-primary' %>
        </div>
    <% end %>
<% end %>
