<% content_for :title do %>
  <%= @usergroup.name %>
<% end %>

<% content_for :subtitle do %>
  <div class="flex items-center text-sm text-gray-400">
    <%= heroicon('calendar', class_name: "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400") %>
    Aangemaakt op <%= @usergroup.created_at.strftime("%d-%m-%Y") %>
  </div>

  <div class="flex items-center text-sm text-gray-400">
    <%= heroicon('users', class_name: "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400") %>
    <%= pluralize @usergroup.users.count, 'lid', 'leden', locale: :nl %>
  </div>
<% end %>

<% content_for :options do %>
  <span class="inline-flex">
  <% if current_user.admin? %>
    <%= link_to 'Wijzig groep', edit_usergroup_path(@usergroup), class: button_classes %>
  <% end %>
    <% if @usergroup.signal_url.present? %>
    <%= link_to @usergroup.signal_url, target: "_blank", class: "ml-2 #{button_classes}" do %>
      <%= image_tag 'signal.png', class: "h-5 w-5" %>
    <% end %>
  <% end %>
  </span>
<% end %>

<div class="-m-5 sm:-m-6">
  <% unless @usergroup.description.blank? %>
    <div class="rounded-lg border-b border-gray-200 dark:border-gray-700 p-4 mb-4">
      <div class="text-md text-gray-600 dark:text-gray-300">
        <%=simple_format @usergroup.description %>
      </div>
    </div>
  <% end %>

  <div data-controller="tabs select-tabs" data-tabs-active-tab="border-hamers-red-500 font-bold text-hamers-red-500 dark:text-hamers-red-500 hover:border-hamers-red-600 hover:text-hamers-red-600 dark:hover:border-hamers-red-600 dark:hover:text-hamers-red-600">
    <div>
      <div class="sm:hidden m-4">
        <label for="tabs" class="sr-only">Select a tab</label>
        <select id="tabs" data-action="change->select-tabs#change" data-select-tabs-target="tab" name="tabs" class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 dark:bg-gray-800 dark:text-gray-200 dark:border-gray-700 focus:outline-none focus:ring-hamers-red-500 focus:border-hamers-red-500 sm:text-sm rounded-md">
          <option value="0">Huidige leden</option>
          <option value="1">Oude leden</option>
        </select>
      </div>

      <div class="hidden sm:block -mt-4">
      <div class="border-b border-gray-200 dark:border-gray-700">
        <nav class="-mb-px mx-6 flex space-x-8">
          <button href="#" data-action="click->tabs#change" data-tabs-target="tab" class="border-transparent text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-200 hover:border-gray-300 dark:hover:border-gray-200 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">
            Huidige leden
          </button>
          <button data-action="click->tabs#change" data-tabs-target="tab" class="border-transparent text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-200 hover:border-gray-300 dark:hover:border-gray-200 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">
            Oude leden
          </button>
        </nav>
      </div>
    </div>
  </div>

  <div class="hidden" data-tabs-target="panel" data-select-tabs-target="panel">
    <% if @usergroup.users.any? %>
      <%= render 'member_list', users: @usergroup.users %>
    <% else %>
      <div class="p-6 dark:text-gray-200">
        Er zijn (nog) geen leden van deze groep.
      </div>
    <% end %>
  </div>
  <div class="hidden" data-tabs-target="panel" data-select-tabs-target="panel">
    <% if @usergroup.old_members.any? %>
      <%= render 'member_list', users: @usergroup.old_members %>
    <% else %>
      <div class="p-6 dark:text-gray-200">
        Er zijn geen oude leden van deze groep.
      </div>
    <% end %>
  </div>
</div>