<% if current_user&.active? %>
  <div class="col-md-5">
    <aside>
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/random_biertje' %>
      </section>
      <section>
        <%= render partial: 'quotes/quote', object: @random_quote %>
      </section>
      <section style="overflow: visible;">
        <%= render 'shared/quote_form' %>
      </section>
      <section>
        <%= link_to events_path do %>
          <h5><i class="far fa-calendar-alt"></i> Aankomende activiteiten</h5>
        <% end %>
        <%= render 'shared/activiteiten' %>
      </section>
      <section>
        <%= link_to news_index_path do %>
          <h5><i class="far fa-newspaper"></i> Recent nieuws</h5>
        <% end %>
        <%= render 'shared/news' %>
      </section>
      <% unless current_user.alid? %>
        <section>
          <%= link_to blogitems_path do %>
            <h5><i class="fa fa-rss"></i> Recente blogposts</h5>
          <% end %>
          <%= render 'shared/blog' %>
        </section>
        <section>
          <%= link_to trail_path do %>
            <h5><i class="fas fa-history"></i> Log</h5>
          <% end %>
          <%= render 'shared/trail' %>
        </section>
      <% end %>
    </aside>
  </div>
  <div class="col-md-7">
    <%= render 'shared/feed' %>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Hamers zonder Sikkel</h1>
    <h2>defenestraties voorbehouden</h2>
    <b>Email: hamers [at] domeinnaam</b>
  </div>
<% end %>
