<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/random_biertje' %>
      </section>
      <section>
        <%= render 'shared/quote_form' %>
      </section>
			<% if current_user.lid? %>
			<section>
	      <%= render 'shared/activiteiten' %>
      </section>
		  <% end %>
		</aside>
    <div class="span8">
      <h3>Quote Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center hero-unit">
  <h1>Hamers zonder Sikkel</h1>

  <h2>
   defenestraties voorbehouden
  </h2>
</div>
<% end %>
