<% if signed_in? %>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <aside>
            <section>
              <%= render 'shared/user_info' %>
            </section>
            <section>
              <%= render 'shared/random_biertje' %>
            </section>
            <section>
              <%= render 'shared/random_quote' %>
            </section>
            <section style="overflow: visible;">
              <%= render 'shared/quote_form' %>
            </section>
            <section>
              <%= render 'shared/activiteiten' %>
            </section>
            <section>
              <%= render 'shared/blog' %>
            </section>
          </aside>
        </div>
        <div class="col-md-8">
          <%= render 'shared/feed' %>
          <hr>
        </div>
      </div>
      <div class="row">
        <%= render 'shared/news_item' %>
      </div>
    </div>
<% else %>
    <div class="center jumbotron">
      <h1>Hamers zonder Sikkel</h1>
      <h2>defenestraties voorbehouden</h2>
      <b>Email: hamers@zondersikkel.nl</b>
    </div>
<% end %>
