<% if @pagy.page == 1 %>
    <div class="grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3">
      <%= render 'shared/user_info' %>
      <%= render 'shared/next_event' %>
      <%= render 'shared/quote_form' %>
      <%= render 'shared/trail' unless current_user.alid? %>
      <%= render 'shared/blog' %>
      <%= render 'shared/random_biertje' %>
    </div>
<% end %>

<div class="relative my-4 -mx-5 sm:-mx-6">
  <div class="absolute inset-0 flex items-center" aria-hidden="true">
    <div class="w-full border-t border-gray-300"></div>
  </div>
  <div class="relative flex justify-center">
      <span class="px-2 bg-white text-sm text-gray-500">
        Citaten
      </span>
  </div>
</div>

<div class="-mt-6">
  <ul role="list" class="divide-y divide-gray-200 border-b border-gray-200 mb-6">
    <%= render @quotes %>
  </ul>

  <%= render 'shared/pagination/default' %>
</div>
