<% if !@current_user.otp_required_for_login? || @pagy.page == 1 %>
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
    <%= render 'shared/user_info' %>
    <%= render 'shared/next_event' %>
    <%= render 'shared/quote_form' %>
    <%= render 'shared/trail' unless current_user.alid? %>
    <%= render 'shared/blog' %>
    <%= render 'shared/random_biertje' %>
  </div>
<% end %>

<div class="relative my-4 -mx-5 sm:-mx-6">
  <div class="absolute inset-0 flex items-center" aria-hidden="true">
    <div class="w-full border-t border-gray-300 dark:border-gray-400"></div>
  </div>
  <div class="relative flex justify-center">
      <span class="px-2 bg-white dark:bg-gray-900 text-sm text-gray-500 dark:text-gray-200">
        Citaten
      </span>
  </div>
</div>

<div class="-mt-6">
  <% if @quotes %>
    <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700 border-b border-gray-200 dark:border-gray-700 mb-6">
      <%= render @quotes %>
    </ul>

    <%= render 'shared/pagination/default' %>
  <% else %>
    <div class="flex justify-center font-black dark:text-gray-200 m-8">
      <h1>Ik ben een droeftoeter zonder 2FA, daarom zijn mijn quotes weg.</h1>
    </div>
  <% end %>
</div>
