<% content_for :title do %>
  Uitnodiging
<% end %>

<%= render layout: 'layouts/forms/form_small' do %>
  <%= form_for "", :url => "users/invitation/accept", :html => {:method => :get} do |f| %>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user-o"></i></span>
      <%= f.text_field :invitation_token, autofocus: true, class: "form-control", placeholder: "Uitnodigingscode" %>
    </div>
    <br>
    <%= link_to "Privacy Statement", "/privacy" %>
    <p><%= f.submit "Registreer", class: "btn btn-large btn-success" %></p>
  <% end %>
<% end %>
