<% content_for :title do %>
    Statistieken
<% end %>
<div class="row">
  <div class="col-md-6 text-center">
    <h2> Landen vanuit waar we bezocht zijn. </h2>
    <%= pie_chart @visit_countries %>
  </div>
  <div class="col-md-6 text-center">
    <h3> Visit OS's </h3>
    <%= pie_chart @visit_operating_systems %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 text-center">
    <h2> Brondomein van bezoekers </h2>
    <%= pie_chart @visit_source %>
  </div>
  <div class="col-md-6 text-center">
    <h3> Referrer </h3>
    <%= pie_chart @visit_referrer %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 text-center">
    <h2> Aantal reviews </h2>
    <%= line_chart @cumulative_review_data %>
  </div>
  <div class="col-md-6 text-center">
    <h3> Aantal biertjes </h3>
    <%= line_chart @cumulative_beer_data %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 text-center">
    <h2> Aantal quotes </h2>
    <%= line_chart @cumulative_quote_data %>
  </div>
  <div class="col-md-6 text-center">
    <h2> Aantal activiteiten </h2>
    <%= line_chart @cumulative_event_data %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 text-center">
    <h2> Aantal gebruikers </h2>
    <%= line_chart @cumulative_user_data %>
  </div>
  <div class="col-md-6 text-center">
    <h2> Aantal stickers </h2>
    <%= line_chart @cumulative_sticker_data %>
  </div>		      
</div>
<div class="row">
  <div class="col-md-6 text-center">
    <h2> Aantal vergaderingen </h2>
    <%= line_chart @cumulative_meeting_data %>
  </div>
  <div class="col-md-6 text-center">
    <h2> Aantal nieuws artikelen </h2>
    <%= line_chart @cumulative_news_data %>
  </div>
</div>

