<% content_for :title do %>
    Statistieken
<% end %>
<div class="row">
  <div class="col-md-6 text-center">
    <h2> Aantal reviews </h2>
    <%= line_chart @cumulativeReviewData %>
  </div>
  <div class="col-md-6 text-center">
    <h3> Aantal biertjes </h3>
    <%= line_chart @cumulativeBeerData %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 text-center">
    <h2> Aantal quotes </h2>
    <%= line_chart @cumulativeQuoteData %>
  </div>
  <div class="col-md-6 text-center">
    <h2> Aantal activiteiten </h2>
    <%= line_chart @cumulativeEventData %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 text-center">
    <h2> Aantal gebruikers </h2>
    <%= line_chart @cumulativeUserData %>
  </div>
  <div class="col-md-6 text-center">
    <h2> Aantal stickers </h2>
    <%= line_chart @cumulativeStickerData %>
  </div>		      
</div>
<div class="row">
  <div class="col-md-6 text-center">
    <h2> Aantal vergaderingen </h2>
    <%= line_chart @cumulativeMeetingData %>
  </div>
  <div class="col-md-6 text-center">
    <h2> Aantal nieuws artikelen </h2>
    <%= line_chart @cumulativeNewsData %>
  </div>
</div>

