<% content_for :title do %>
  Log
<% end %>

<ul role="list" class="divide-y divide-gray-200">
  <% @trail.each do |t| %>
    <% presenter = TrailPresenter.new(t) %>

    <li class="py-2 flex flex-col">
      <div class="flex space-x-3 pb-2">
        <%= presenter.image %>

        <div class="flex-1 space-y-1">
          <div class="flex items-center justify-between">
            <h3 class="text-sm font-medium"><%= presenter.username %></h3>
            <p class="text-sm text-gray-500"><%= time_ago_in_words(t.created_at) %> geleden.</p>
          </div>
          <div class="flex justify-between">
            <p class="text-sm text-gray-500 font-medium">
              <% case t.item_type %>
              <% when "Quote" %>
                <% if t.item %>
                  <%= "citeerde #{t.item.user.name}" %>
                <% else %>
                  <%= "citeerde onjuist" %>
                <% end %>
              <% when "Blogitem" %>
                <%= link_to "schreef aan #{t.item.title}", t.item %>
              <% when "Signup" %>
                <% if t.object %>
                  <%#= link_to "heeft zich #{t.object["status"] ? "ingeschreven" : "uitgeschreven"} voor #{t.item.event.title}", t.item %>
                <% else %>
                  <%= link_to "heeft zich #{t.item.status ? "ingeschreven" : "uitgeschreven"} voor #{t.item.event.title}", t.item %>
                <% end %>
              <% when "ActionText::RichText" %>
                <%#= link_to "wijzigde opgemaakte tekst", t.item.record %>
              <% else %>
                <%= link_to t.item do %>
                  <% case t.event %>
                  <% when "destroy" %>
                    verwijderde
                  <% when "update" %>
                    wijzigde
                  <% end %>
                <% end %>
                <%= t.item_type %>
              <% end %>
            </p>
            <% unless t.item_type == "ActionText::RichText" %>
              <%= form_for "x", url: "/revert/#{t.item_type}/#{t.item_id}" do |f| %>
                <%= f.submit "Revert", class: submit_classes %>
              <% end %>
            <% end %>
          </div>
        </div>

      </div>
      <div class="divide-y divide-hamers-red-500 px-8 text-sm font-medium">
        <% t.changeset.each do |c, v| %>
          <% next if c == 'updated_at' || c == 'created_at' %>
          <div class="py-2 sm:grid sm:grid-cols-3 sm:gap-4">
            <dt class="text-gray-600">
              <%= c.to_s %>
            </dt>
            <dd class="mt-1 text-gray-900 sm:mt-0 sm:col-span-2">
              <%== Diffy::Diff.new(v[0], v[1]).to_s(:html_simple) %>
            </dd>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>

<%= render 'shared/pagination/default' %>
