<% content_for :title do %>
    Bezoekers
<% end %>
<table class="tablesorter table table-hover">
  <thead>
  <tr>
    <th>id</th>
    <th>city (country)</th>
    <th>os</th>
    <th>referrer</th>
    <th>user agent</th>
    <th>device</th>
    <th>time</th>
  </tr>
  </thead>
  <%= will_paginate @visitors %>
  <tbody>
  <% @visitors.each do |visit| %>
      <tr>
        <td><%= link_to visit.visitor_token, "/visitors/#{visit.visitor_token}" %><% if visit.user %> (<%= visit.user.name %>)<% end %></td>
        <td><%= "#{visit.city} (#{visit.country})" %></td>
        <td><%= visit.os %></td>
        <td><%= visit.referrer %></td>
        <td><%= visit.user_agent %></td>
        <td><%= visit.device_type %></td>
        <td><%= visit.started_at %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @visitors %>
