<li class="py-4">
  <div class="flex space-x-3 text-sm">
    <% if quote.anonymous? %>
      <div class="self-center">
        <%= image_tag 'anonymous.svg', class: "w-7 h-7 rounded-full" %>
      </div>
    <% else %>
      <%= link_to quote.user, class: "self-center" do %>
        <% gravatar_for quote.user, class: "h-8 w-8 rounded-full" %>
      <% end %>
    <% end %>
    <div class="flex-col flex-1">
      <div class="flex flex-col sm:flex-row justify-between self-center">
        <h3 class="flex-grow font-medium dark:text-gray-200"><%= quote.text %></h3>
        <span class="relative z-0 inline-flex rounded-md">
          <%= if quote.can_be_anonymized_by?(current_user)
                link_to anonymization_path(quote), method: :put, data: { confirm: 'Weet je zeker dat je deze quote wilt anonimiseren? Dit kan je niet ongedaan maken.' }, title: quote.text,
                        class: small_button_classes + ' rounded-l-md' do %>
            <%=  image_tag 'anonymous.svg', class: "w-4 h-4"  %><span class="sm:hidden">Anonimiseer</span>
          <% end %>
          <%  end  %>
          <%= link_to edit_quote_path(quote), class: small_button_classes + (quote.can_be_anonymized_by?(current_user) ? '' : ' rounded-l-md') do %>
             <%= heroicon('pencil', class_name: "h-4 w-4") %> <span class="sm:hidden">Wijzigen</span>
          <% end %>
          <%= link_to quote, method: :delete, data: { confirm: 'Weet je het zeker?' }, title: quote.text,
                      class: small_button_classes + ' rounded-r-md' do %>
            <%= heroicon('trash', class_name: "h-4 w-4") %> <span class="sm:hidden">Verwijderen</span>
          <% end %>
          </span>
      </div>
      <div class="flex flex-col sm:flex-row text-gray-500 dark:text-gray-400">
        <div class="flex-grow"><%= quote.name %></div>
        <p><%= time_ago_in_words(quote.created_at) %> geleden.</p>
      </div>
    </div>
  </div>
</li>
