<% content_for :title do %>
  Quote aanpassen
<% end %>

<%= render layout: 'layouts/small_width' do %>
  <%= form_for @quote, html: {class: 'space-y-3 space-y'} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div>
      <%= f.label 'Quote:' %>
      <%= f.text_area :text, class: input_classes %>
    </div>

    <% unless @quote.anonymous? %>
      <div>
        <%= f.label 'User:' %>
        <% users_array = User.all.map { |user| [user.name, user.id] } %>
        <%= f.select :user_id, options_for_select(users_array, @userid), {}, class: select_classes %>
      </div>
    <% end %>

    <%= f.submit :Opslaan, class: submit_classes %>
  <% end %>
<% end %>
