<h1>Inlogguh</h1>
<div class="row">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:session, url: sessions_path) do |f| %>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
            <%= f.text_field :email, type: 'text', class: 'form-control', placeholder: 'Email' %>
          </div>
          &nbsp;
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key"></i></span>
            <%= f.password_field :password, type: 'password', class: 'form-control', placeholder: 'Wachtwoord' %>
          </div>
          &nbsp;
          <%= f.submit 'Sign in', class: 'btn btn-large btn-primary' %>
      <% end %>
      &nbsp;
      <p>New user? <%= link_to 'Sign up now!', register_path %></p>
    </div>

  </div>
</div>
