<% content_for :title do %>
    Notities
<% end %>

<script type="text/javascript">
  $(document).ready(function () {
        $("#notes").tablesorter();
      }
  );
</script>

<table id="notes" class="tablesorter table table-hover">
  <thead>
  <tr>
    <th>Naam</th>
    <th>Admin stuff</th>
  </tr>
  </thead>
  <%= will_paginate %>
  <tbody>
  <% @notes.each do |n| %>
      <tr>
        <td><%= link_to n.title, n %></td>
        <td>
          <div class="btn-group">
            <%= link_to edit_note_path(n), class: 'btn btn-info' do %>
                <i class="fa fa-pencil"></i>
            <% end %>
            <%= link_to n, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' do %>
                <i class="fa fa-trash"></i>
            <% end %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate %>
<%= link_to 'Nieuwe notitie', new_note_path, class: 'btn btn-block btn-primary' %>
