<%= content_for :title do %>
    <%= @note.title %>
<% end %>

<p>
  <%= markdown(@note.content).html_safe %>
</p>

<div class="btn-group">
  <%= link_to 'Edit', edit_note_path(@note), class: 'btn btn-primary' %>
  <%= link_to 'Back', notes_path, class: 'btn btn-default' %>
</div>
