<%= form_for @meeting, html: { class: 'space-y-2 space-y' } do |f| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, 'error') %> prohibited this meeting from being saved:</h2>

      <ul>
        <% @meeting.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :agenda, class: label_classes %>
  <%= f.text_area :agenda, class: input_classes %>

  <%= f.label :onderwerp, class: label_classes %>
  <%= f.text_field :onderwerp, class: input_classes %>

  <%= f.label :datum, class: label_classes %>
  <%= f.date_field :date, required: true, class: input_classes %>

  <%= f.label :voorzitter, class: label_classes %>
  <%= f.select :chairman_id, User.intern.collect { |x| [x.name, x.id] }, { include_blank: true }, { class: select_classes } %>

  <%= f.label :notulist, class: label_classes %>
  <%= f.select :secretary_id, User.intern.collect { |x| [x.name, x.id] }, { include_blank: true }, { class: select_classes } %>

  <%= f.label :aanwezigen, class: label_classes %>
  <%= f.select :user_ids, User.intern.collect { |x| [x.name, x.id] }, {}, { class: select_classes, multiple: true } %>

  <%= f.submit :Opslaan, class: submit_classes %>
<% end %>
