<%= form_for(@meeting) do |f| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% @meeting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :agenda %><br>
    <%= f.text_area :agenda %>
  </div>
	<div class="field">
		<%= f.label :onderwerp%><br>
		<%= f.text_field :onderwerp %>
	</div>
	<div class="field">
	     <%= f.label :date %>
	     <%= f.date_select :date, {:order => [:day, :month, :year], :use_month_names =>     ['Januari', 'Februari', 'Maart', 'April', 'Mei', 'Juni', 'Juli', 'Augustus', 'September', 'Oktober',     'November','December']}, :style => "width: 19%;" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
