<ul role="list" class="-m-6 divide-y divide-gray-200">
  <% meetings.each do |meeting| %>
    <li>
      <%= link_to meeting, class: "block hover:bg-gray-50" do %>
        <div class="p-4 grid grid-cols-3 gap-4 items-center">
          <div>
            <div class="text-sm min-w-0 flex-1 sm:flex sm:items-center">
              <div class="flex">
                <p class="font-medium text-gray-900 truncate"><%= meeting.onderwerp %></p>
              </div>
            </div>
            <div class="mt-2 flex">
              <p class="flex items-center text-sm text-gray-500">
                <time><%= meeting.date.strftime('%d-%m-%Y') %></time>
              </p>
            </div>
          </div>
          <div class="text-sm text-gray-500 items-center hidden sm:block">
            <% if meeting.chairman %>
              <i class="fas fa-fw fa-gavel"></i> <%= meeting.chairman.name %>
            <% end %>
            <% if meeting.secretary %>
              <div class="mt-2">
                <i class="fas fa-fw fa-keyboard"></i> <%= meeting.secretary.name %>
              </div>
            <% end %>
          </div>
          <div class="flex justify-end overflow-hidden -space-x-1">
            <% meeting.attendees.with_user.each do |s| %>
              <%= gravatar_for s.user, class: "inline-block h-6 w-6 rounded-full ring-2 ring-white" %>
            <% end %>
            <div class="ml-8">
              <%= heroicon('chevron-right', class_name: "h-6 w-6 text-gray-400") %>
            </div>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
