<% content_for :title do %>
  Vergaderingen
<% end %>
<table id="meeting" class="tablesorter table table-hover">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Onderwerp</th>
      <% if current_user.admin? %>
      <% end %>
    </tr>
  </thead>
  <%= will_paginate %>
  <tbody>
    <% @meetings.each do |m| %>
      <tr>
        <td><%= m.date.strftime('%d-%m-%Y') %></td>
        <td><%= link_to m.onderwerp, m %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
<% if current_user.admin? %>
  <%= link_to 'Add vergadering', new_meeting_path, class: 'btn btn-block btn-primary' %>
<% end %>
