<script type="text/javascript">
$(document).ready(function()
    {
	$("#meeting").tablesorter();
    }
);
</script>

<h1>Vergaderingen</h1>

<table id="meeting" class="tablesorter table table-hover">
  <thead>
    <tr>
      <th>datum</th>
      <th>onderwerp</th>
      <% if current_user.admin? %>
      <th>Admin stuff</th>
      <% end %>
    </tr>
  </thead>


<%= will_paginate %>	

 <tbody> 
  <% @meetings.each do |m| %>
    <tr>
			<td><%= m.date.strftime("%d/%m/%Y") %></td>
      <td><%= link_to m.onderwerp, m %></td>
      <% if current_user.admin? %><td>
        <%= link_to "Wijzig", edit_meeting_path(m) %>
        | <%= link_to "Verwijder", m, method: :delete,
                                  data: { confirm: "Weet je het zeker?" } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>
<% if current_user.admin? %>
<%= link_to "Add vergadering", new_meeting_path %>
<% end %>
