<% content_for :title do %>
  Notuleren
<% end %>

<%= form_with model: @meeting, data: { remote: true, controller: "autosave", target: "autosave.form", action: "ajax:success->autosave#success ajax:error->autosave#error" } do |f| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, 'error') %> prohibited this meeting from being saved:</h2>

      <ul>
        <% @meeting.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.rich_text_area :notes, class: input_classes, data: { action: 'keyup->autosave#save' } %>

  <div class="mt-4">
    <%= f.submit "Opslaan", class: submit_classes %>
    <%= f.submit "Annuleren", class: "cursor-pointer inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-base font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-hamers-red-500" %>
    <span class="text-muted" data-target="autosave.status"></span>
  </div>
<% end %>
