<% content_for :title do %>
  Notuleren
<% end %>

<%= form_with model: @meeting, data: { remote: true, controller: "autosave", target: "autosave.form", action: "ajax:success->autosave#success ajax:error->autosave#error" } do |f| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, 'error') %> prohibited this meeting from being saved:</h2>

      <ul>
        <% @meeting.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :notes %><br>
    <%= f.rich_text_area :actiontext_notes, class: 'form-control', data: { action: 'keyup->autosave#save' } %>
  </div>
  <div class="actions">
    <%= f.submit "Opslaan", class: 'btn btn-primary' %>
    <%= f.submit "Annuleren", class: 'btn btn-danger' %>
    <span class="text-muted" data-target="autosave.status"></span>
  </div>
<% end %>
