<% content_for :title do %>
  <%= @meeting.onderwerp %>
<% end %>
<div class="row">
  <div class="col-md-8">
    <%= @meeting.notes %>
  </div>
  <div class="col-md-4 info-panel">
    <div class="panel panel-default">
      <div class="panel-body">
        <p data-toggle="tooltip" data-placement="left" title="Datum">
          <i class="fas fa-fw fa-clock"></i> <%= @meeting.date.strftime('%d-%m-%Y') %>
        </p>

        <% if @meeting.chairman %>
          <p data-toggle="tooltip" data-placement="left" title="Voorgezeten door">
            <i class="fas fa-fw fa-gavel"></i> <%= link_to @meeting.chairman.name, @meeting.chairman %>
          </p>
        <% end %>

        <% if @meeting.secretary %>
          <p data-toggle="tooltip" data-placement="left" title="Genotuleerd door">
            <i class="fas fa-fw fa-keyboard"></i> <%= link_to @meeting.secretary.name, @meeting.secretary %>
          </p>
        <% end %>

        <hr>

        <h2>Agenda <%= @meeting.onderwerp %></h2>
        <%= markdown(@meeting.agenda).html_safe if @meeting.agenda %>

        <% if @meeting.attendees.any? %>
          <hr>
          <h4>Aanwezigen <span class="text-muted small"><%= @meeting.attendees.count %></span></h4>
          <div class="clearfix">
            <% @meeting.attendees.each do |a| %>
              <%= link_to gravatar_for(a.user), a.user, class: "small-profile-picture" %>
            <% end %>
          </div>
        <% end %>

        <% if current_user.admin? %>
          <hr>

          <td>
            <div class="btn-group btn-group-vertical btn-group-sm">
              <%= link_to "/notuleer/#{@meeting.id}", class: 'btn btn-default' do %>
                <i class="fas fa-pencil-alt"></i> Wijzig notulen
              <% end %>
              <%= link_to edit_meeting_path(@meeting), class: 'btn btn-default' do %>
                <i class="fas fa-pencil-alt"></i> Wijzig vergadering
              <% end %>
              <%= link_to @meeting, class: 'btn btn-default', method: :delete, data: {confirm: 'Weet je het zeker?'} do %>
                <i class="far fa-trash-alt"></i> Verwijder vergadering
              <% end %>
            </div>
          </td>
        <% end %>
      </div>
    </div>
  </div>
</div>
