<% content_for :title do %>
  <%= @meeting.onderwerp %>
<% end %>

<% content_for :subtitle do %>
  <div class="flex items-center text-sm text-gray-400">
    <%= heroicon('calendar', class_name: "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400") %>
    <%= @meeting.date.strftime("%d-%m-%Y") %>
  </div>
  <div class="flex items-center text-sm text-gray-400">
    <%= heroicon('users', class_name: "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400") %>
    <%= pluralize @meeting.attendees.count, 'aanwezige', 'aanwezigen', locale: :nl %>
  </div>
<% end %>

<% if current_user.admin? %>
  <% content_for :options do %>
    <%= link_to "Notuleer", notuleer_meeting_path(@meeting), class: "px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-hamers-red-500" %>
    <%= link_to "Wijzig", edit_meeting_path(@meeting), class: "px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-hamers-red-500" %>
    <%= link_to "Verwijder", @meeting, method: :delete, data: { confirm: 'Weet je het zeker?' }, class: "px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-hamers-red-500" %>
  <% end %>
<% end %>

<div class="divide-y divide-gray-200 -my-6 md:grid md:grid-cols-12 md:divide-y-0 md:divide-x">
  <div class="md:col-span-9 md:pr-6">
    <%= @meeting.notes %>
  </div>

  <aside class="md:col-span-3 md:pl-6">
    <div class="-mx-6 border-t border-b border-gray-200">
      <dl class="sm:divide-y sm:divide-gray-200">
        <div class="m-4">
          <h4>Agenda <%= @meeting.onderwerp %></h4>
          <%= markdown(@meeting.agenda).html_safe if @meeting.agenda %>
        </div>

        <% if @meeting.chairman %>
          <div class="py-2 sm:py-4 sm:grid sm:grid-cols-3 sm:gap-4">
            <dt class="mx-6 text-sm font-medium text-gray-500">
              Voorzitter
            </dt>
            <dd class="mx-6 mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              <%= link_to @meeting.chairman.name, @meeting.chairman %>
            </dd>
          </div>
        <% end %>

        <% if @meeting.secretary %>
          <div class="py-2 sm:py-4 sm:grid sm:grid-cols-3 sm:gap-4">
            <dt class="mx-6 text-sm font-medium text-gray-500">
              Voorzitter
            </dt>
            <dd class="mx-6 mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              <%= link_to @meeting.secretary.name, @meeting.secretary %>
            </dd>
          </div>
        <% end %>

        <% if @meeting.attendees.any? %>
          <div class="flex flex-wrap content-center justify-evenly">
            <% @meeting.attendees.each do |a| %>
              <%= gravatar_for a.user, size: 64, class: "h-10 w-10 rounded-full m-2" %>
            <% end %>
          </div>
        <% end %>
      </dl>
    </div>
  </aside>
</div>
