<% content_for :title do %>
  <%= @meeting.onderwerp %>
<% end %>
<div class="row">
  <div class="col-md-8">
    <% if @meeting.actiontext_notes.blank? %>
      <%= markdown(@meeting.notes).html_safe if @meeting.notes %>
    <% else %>
      <%= @meeting.actiontext_notes %>
    <% end %>
  </div>
  <div id="meeting-info-panel" class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <p><b>Datum:</b> <%= @meeting.date.strftime('%d-%m-%Y') %></p>

        <% if @meeting.user_id %>
          <p><b>Genotuleerd door:</b> <%= link_to @notulist.name, @notulist %></p>
        <% end %>

        <hr>

        <h2>Agenda <%= @meeting.onderwerp %></h2>
        <%= markdown(@meeting.agenda).html_safe if @meeting.agenda %>
        <hr>

        <% if @meeting.attendees.any? %>
          <h4>Aanwezigen <span class="text-muted small"><%= @meeting.attendees.count %></span></h4>
          <div class="clearfix">
            <% @meeting.attendees.each do |a| %>
              <%= link_to gravatar_for(a.user), a.user, class: "small-profile-picture" %>
            <% end %>
          </div>
          <hr>
        <% end %>

        <% if current_user.admin? %>
          <td>
            <div class="btn-group btn-group-vertical btn-group-sm">
              <%= link_to "/notuleer/#{@meeting.id}", class: 'btn btn-default' do %>
                <i class="fas fa-pencil-alt"></i> Wijzig notulen
              <% end %>
              <%= link_to edit_meeting_path(@meeting), class: 'btn btn-default' do %>
                <i class="fas fa-pencil-alt"></i> Wijzig vergadering
              <% end %>
              <%= link_to @meeting, class: 'btn btn-default', method: :delete, data: {confirm: 'Weet je het zeker?'} do %>
                <i class="far fa-trash-alt"></i> Verwijder vergadering
              <% end %>
            </div>
          </td>
        <% end %>
      </div>
    </div>
  </div>
</div>
