<% content_for :title do %>
    <%= @meeting.onderwerp %>
<% end %>
<div class="row">
  <div class="col-md-9">
    <% if @meeting.actiontext_notes.blank? %>
      <%= markdown(@meeting.notes).html_safe unless @meeting.notes == nil %>
    <% else %>
      <%= @meeting.actiontext_notes %>
    <% end %>
  </div>
  <div class="col-md-3">
    <%= markdown(@meeting.agenda).html_safe unless @meeting.agenda == nil %>
  </div>
</div>
<% if @meeting.user_id != nil %>
    <p>Genotuleerd door: <i><%= link_to User.find(@meeting.user_id).name, User.find(@meeting.user_id) %></i></p>
<% end %>
<div class="btn-group">
      <%= link_to 'Wijzig vergadering', edit_meeting_path(@meeting), class: 'btn btn-primary' %>
      <%= link_to 'Wijzig notulen', "/notuleer/#{@meeting.id}", class: 'btn btn-primary' %>
  <%= link_to 'Terug', meetings_path, class: 'btn btn-default' %>
</div>
