<div>
  <%= form_for(@item) do |f| %>
    <% if @item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@item.errors.count, 'error') %> prohibited this blogitem from being saved:</h2>

          <ul>
            <% @item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="space-y-4">
      <%= f.text_field :title, class: input_classes, required: true, minlength: 2, placeholder: "Titel" %>
      <%= f.rich_text_area :body, class: 'form-control', placeholder: "blablabla" %>
      <div class="flex items-start col-span-3 md:justify-left">
        <div class="flex items-center h-5">
          <%= f.check_box :public, { checked: @item.public, class: "focus:ring-hamers-red-500 h-4 w-4 text-hamers-red-600 border-gray-300 rounded" } %>
        </div>
        <div class="ml-3 text-sm">
          <label class="font-medium text-gray-700">Ook voor plebs te lezen</label>
        </div>
      </div>
    </div>

    <div class="flex justify-center mt-5">
      <%= f.submit "Opslaan", class: submit_classes %>
    </div>
  <% end %>
</div>
