<% content_for :title do %>
  <%= @item.title %>
<% end %>
<div class="row">
  <div class="col-md-9">
    <% if @item.actiontext_body.blank? %>
      <%= markdown(@item.body).html_safe unless @item.body == nil %>
    <% else %>
      <%= @item.actiontext_body %>
    <% end %>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if @item.user_id != nil %>
          Blogpost door: <i><%= link_to @user.name, @user %></i>
          <hr>
        <% end %>

        <% if @item.blogphotos.any? %>
          <% @item.blogphotos.each do |p| %>
            <%= image_tag p.image.url(:medium) %> <br>
          <% end %>
          <hr>
        <% end %>

        <div class="btn-group">
          <% if current_user&.admin? || (current_user && current_user.id == @item.user_id) %>
            <%= link_to edit_blogitem_path(@item), class: 'btn btn-default' do %>
              <i class="fas fa-pencil-alt"></i> Wijzig blogpost
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
