<% content_for :title do %>
  <%= @recipe.name %>
<% end %>
<div class="row">
  <div class="col-md-9">
    <% if @brew.actiontext_description.blank? %>
      <%= markdown(@brew.description).html_safe %>
    <% else %>
      <%= @brew.actiontext_description %>
    <% end %>
  </div>
  <div class="col-md-3">
    Uitvoeringen:<br>
    <% @recipe.brews.each do |brew| %>
      <%= link_to brew.created_at.strftime("%d-%m-%Y"), brew_path(@recipe, brew) %><br>
    <% end %>
  </div>
</div>
<br>
<div class="btn-group">
  <%= link_to 'Aanpassen', edit_brew_path(@brew), class: 'btn btn-primary' %>
  <%= link_to 'Terug', recipe_path(@recipe), class: 'btn btn-default' %>
</div>
