<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <p>Hallo <%= @user.name %>,</p>
    <p>Er is een nieuwe activiteit genaamd '<%= @event.title %>' aangemaakt.</p>
    <p>Schrijf je zo snel mogelijk in dan wel uit op https://www.zondersikkel.nl/events/<%= @event.id %></p>
    <p>We hopen je daar te zien!</p>
    <p>Details van de activiteit:</p>
    <p><%= @event.date %></p>
    <p><%= @event.title %></p>
    <p><%= @event.date.strftime("%d-%m-%Y") %> om <%= @event.date.strftime("%H:%M") %><% unless @event.end_time.nil? %> en eindigt op <%= @event.end_time.strftime("%d-%m-%Y") %> om <%= @event.end_time.strftime("%H:%M") %><% end %></p>
    <p><% unless @event.location.nil? %>Locatie: <%= @event.location %><% end %></p>
    <p><% unless @event.description.nil? %>Beschrijving:
        <%= @event.description %><% end %></p>
  </body>
</html>
