<% content_for :title do %>
    <%= @motion.subject %>
<% end %>
<p>
  <strong>Motion type:</strong>
  <%= @motion.motion_type %>
</p>
<p>
  <strong>Subject:</strong>
  <%= @motion.subject %>
</p>
<p>
  <strong>Content:</strong>
  <%= @motion.content %>
</p>
<div class="btn-group">
  <%= link_to 'Edit', edit_motion_path(@motion), class: 'btn btn-default' %>
  <%= link_to 'Back', motions_path, class: 'btn btn-default' %>
</div>