<h2 class="text-2xl"><%= @user.name %> is lid van:</h2>
<div class="list-container divide-y divide-gray-200">
  <% @member.each do |group| %>
    <div class="list-items flex flex-row items-center justify-between p-2">
      <p class="text-gray-900"><%= group.name %></p>
      <% if current_user.admin? %>
        <div>
          <%= form_for(@user.groups.find_by(group_id: group.id, user_id: @user.id), html: { method: :delete }) do |f| %>
            <%= f.hidden_field :group_id %>
            <%= f.hidden_field :user_id %>
            <button type="submit" class="cursor-pointer bg-red-100 hover:bg-red-200 rounded-md px-4 py-2 text-red-800 text-sm font-semibold flex items-center">
              <%= heroicon('trash', style: :outline, class_name: "h-4 w-4 mr-1") %> Verwijder
            </button>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<% if current_user.admin? %>
  <h2 class="text-2xl"><%= @user.name %> is GEEN lid van:</h2>
  <div class="list-container divide-y divide-gray-200">
    <% @notmember.each do |group| %>
      <div class="list-items flex flex-row items-center justify-between p-2">
        <p class="text-gray-900"><%= group.name %></p>
        <div>
          <%= form_for @user.groups.new(group_id: group.id, user_id: @user.id) do |f| %>
            <%= f.hidden_field :group_id %>
            <%= f.hidden_field :user_id %>
            <button type="submit" class="cursor-pointer bg-green-100 hover:bg-green-200 rounded-md px-4 py-2 text-green-800 text-sm font-semibold flex items-center">
              <%= heroicon('plus', style: :outline, class_name: "h-4 w-4 mr-1") %>Voeg toe
            </button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
