<h2 class="text-2xl mt-4">Lid</h2>
<div class="my-6 flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-100">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Groepnaam</th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actie</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <% @member.each_with_index do |group, index| %>
              <tr class="<%= index % 2 == 0 ? "bg-white" : "bg-gray-50" %>">
                <%= form_for(@user.groups.find_by(group_id: group.id, user_id: @user.id), html: {method: :delete}) do |f| %>
                  <%= f.hidden_field :group_id %>
                  <%= f.hidden_field :user_id %>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                    <%= group.name %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <% if current_user.admin? %>  
                  <button type="submit" class="btn btn-default btn-sm flex text-hamers-red-500">
                      <%= heroicon('trash', style: :outline, class_name: "h-6 w-6") %>
                      Verwijder uit deze groep
                    </button>
                  <% else %>
                    Kan lidmaatschap niet aanpassen
                  <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% if current_user.admin? %>
<h2 class="text-2xl mt-4">Geen lid</h2>
<div class="my-6 flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-100">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Groepnaam</th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actie</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
              <% @notmember.each_with_index do |group, index| %>
                <tr class="<%= index % 2 == 0 ? "bg-white" : "bg-gray-50" %>">
                  <%= form_for(@user.groups.new(group_id: group.id, user_id: @user.id)) do |f| %>
                    <%= f.hidden_field :group_id %>
                    <%= f.hidden_field :user_id %>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                      <%= group.name %>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                      <button type="submit" class="btn btn-default btn-sm flex">
                        <%= heroicon('plus', style: :outline, class_name: "h-6 w-6") %>
                        Voeg toe aan deze groep
                      </button>
                    </td>
                  <% end %>
                </tr>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% end %>
