<%= form_for @user, html: { class: 'space-y-6 space-y my-6' } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <% fields = %i[name email phone_number] %>
  <% fields.each do |field| %>
    <div class="sm:col-span-6">
      <%= f.label field, class: label_classes %>
      <div class="mt-1">
        <%= f.text_field field, class: input_classes %>
      </div>
    </div>
  <% end %>

  <div class="sm:col-span-6">
    <%= f.label :birthday, class: label_classes %>
    <div class="mt-1">
      <%= f.date_field :birthday, class: input_classes %>
    </div>
  </div>

  <% if current_user.admin? %>
    <div class="sm:col-span-6">
      <%= f.label :batch, class: label_classes %>
      <div class="mt-1">
        <%= f.number_field :batch, class: input_classes %>
      </div>
    </div>
  <% end %>

  <legend class="sr-only">Notifications</legend>
  <div class="relative flex items-start">
    <div class="flex items-center h-5">
      <%= f.check_box :anonymous, class: checkbox_classes %>
    </div>
    <div class="ml-3 text-sm">
      <%= f.label :anonymous, "Anoniem op publieke pagina's", class: "font-medium text-gray-700 dark:text-gray-400" %>
      <span id="comments-description" class="text-gray-500"><span class="sr-only">Anoniem op publieke pagina's  </span>(je staat wel op de ledenpagina).</span>
    </div>
  </div>
  <div class="relative flex items-start">
    <div class="flex items-center h-5">
      <%= f.check_box :new_event_mail, class: checkbox_classes %>
    </div>
    <div class="ml-3 text-sm">
      <%= f.label :new_event_mail, "Ontvang een email wanneer een nieuwe activiteit wordt aangemaakt.", class: "font-medium text-gray-700 dark:text-gray-400" %>
      <span id="comments-description" class="text-gray-500"><span class="sr-only">Ontvang een email wanneer een nieuwe activiteit wordt aangemaakt. </span></span>
    </div>
  </div>

  <%= f.submit "Opslaan", class: submit_classes %>
<% end %>
