<%= form_for @user, html: { class: 'space-y-6 space-y my-6' } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="sm:col-span-6">
    <%= f.label :password, class: label_classes %>
    <div class="mt-1">
      <%= f.password_field :password, autocomplete: "off", class: input_classes %>
      <% if @minimum_password_length %>
        <p class="text-sm text-gray-500" id="email-description"><%= @minimum_password_length %> characters minimum</p>
      <% end %>
    </div>
  </div>

  <div class="sm:col-span-6">
    <%= f.label :password_confirmation, class: label_classes %>
    <div class="mt-1">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: input_classes %>
    </div>
  </div>
  <%= f.submit "Opslaan", class: submit_classes %>
<% end %>
