<% content_for :title do %>
  Wijzig je profiel
<% end %>

<div class="divide-y divide-gray-200 lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x">
  <aside class="lg:col-span-3 lg:pr-6">
    <%= link_to "https://gravatar.com/emails", target: "_blank" do %>
      <%= gravatar_for @user, size: 300 %>
    <% end %>

    <div class="relative inset-0 flex items-center my-4 lg:-mr-6">
      <div class="w-full border-t border-gray-300"></div>
    </div>

    <div>
      <span class="font-bold">Groepen</span>
      <ul>
        <% @user.usergroups.each do |group| %>
          <li><%= group.name %></li>
        <% end %>
      </ul>
      <% if current_user.admin? %>
        <%= link_to usergroups_user_path(@user), class: 'inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded text-hamers-red-700 bg-hamers-red-100 hover:bg-hamers-red-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-hamers-red-500' do %>
          Wijzig groepen
        <% end %>
      <% end %>
    </div>

    <div class="relative inset-0 flex items-center my-4 lg:-mr-6">
      <div class="w-full border-t border-gray-300"></div>
    </div>

    <div class="lg:divide-solid">
      <h4>Groepen</h4>
    </div>
  </aside>

  <div class='lg:col-span-9 lg:pl-6'>
    <%= render 'users/settings/form' %>
  </div>

  <!--<section>-->
<%# if @user == current_user %>
<%# if @user.api_keys.any? %>
  <!--      <h4>Api keys</h4>-->
  <!--      <table id="api-key-table" class="table table-hover">-->
  <!--        <thead>-->
  <!--        <tr>-->
  <!--          <th>Naam</th>-->
  <!--          <th>Key</th>-->
  <!--        </tr>-->
  <!--        </thead>-->
<%# @user.api_keys.each do |key| %>
  <!--          <tr>-->
  <!--            <td><%#= key.name %></td>-->
  <!--            <td>-->
<%#= link_to key.key, key %>
<%#= link_to key, method: :delete, data: { confirm: 'Zeker weten?' }, class: 'btn btn-default btn-sm' do %>
  <!--                <i class="far fa-trash-alt"></i>-->
<%# end %>
  <!--            </td>-->
  <!--          </tr>-->
<%# end %>
  <!--      </table>-->
<%# end %>
<%#= form_for ApiKey.new, html: { class: 'form-inline' } do |f| %>
<%#= f.text_field :name, placeholder: 'Sleutelnaam', class: 'form-control' %>
<%#= f.submit 'Toevoegen', class: 'btn btn-default' %>
<%# end %>
<%# end %>
  <!--</section>-->


</div>
