<div>
  <%= form_for(@public_page) do |f| %>
    <% if @public_page.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@public_page.errors.count, 'error') %> prohibited this public page from being saved:</h2>

          <ul>
            <% @public_page.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="space-y-4">
      <%= f.text_field :title, class: input_classes, required: true, minlength: 2, placeholder: "Titel" %>
      <%= f.rich_text_area :content, class: 'form-control', placeholder: "blablabla" %>
      <div class="flex items-start col-span-3 md:justify-left">
        <div class="flex items-center h-5">
          <%= f.check_box :public, { checked: @public_page.public, class: checkbox_classes } %>
        </div>
        <div class="ml-3 text-sm">
          <%= f.label :public, "Ook voor plebs te zien", class: "font-medium text-gray-700" %>
        </div>
      </div>
    </div>

    <div class="flex justify-center mt-5">
      <%= f.submit "Opslaan", class: submit_classes %>
    </div>
  <% end %>
</div>
