<% content_for :title do %>
  Openbare pagina's
<% end %>

<% content_for :options do %>
  <%= link_to 'Voeg pagina toe', new_public_page_path, class: button_classes %>
<% end %>

<div class="flex flex-col -m-6">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8 shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-100">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Naam
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Openbaar
          </th>
          <th scope="col" class="relative px-6 py-3">
            <span class="sr-only">Link</span>
          </th>
        </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
        <% @public_pages.each do |page| %>
          <tr onclick='Turbo.visit("<%= public_page_path(page) %>")' class="hover:bg-gray-50 cursor-pointer">
            <td class="px-6 py-4 whitespace-nowrap">
              <%= page.title %>
            </td>
            <td class="px-6 py-4 whitespace-normal text-sm text-gray-500">
              <%= page.public %>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
              <%= link_to page, class: "float-right" do %>
                <%= heroicon('chevron-right', class_name: "flex-shrink-0 h-5 w-5 text-gray-400") %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
