<script type="text/javascript">
    $(document).ready(function()
            {
                $("#pages").tablesorter();
            }
    );
</script>
<h1>Openbare Paginas</h1>
<table id="pages" class="tablesorter table table-hover">
  <thead>
  <tr>
    <th>openbaar</th>
    <th>title</th>
    <th>Admin stuff</th>
  </tr>
  </thead>
  <%= will_paginate %>
  <tbody>
  <% @public_pages.each do |m| %>
      <tr>
        <td><%= m.public %></td>
        <td><%= link_to m.title, "/" + m.title %></td>
        <td>
          <div class="btn-group">
            <%= link_to "Wijzig", edit_public_page_path(m), class: "btn btn-info" %>
            <%= link_to "Verwijder", m, class: "btn btn-danger", method: :delete,
                        data: { confirm: "Weet je het zeker?" } %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate %>
<%= link_to "Add Pagina", new_public_page_path %>