<%= form_for @sticker do |f| %>
  <div class="form-group">
    <%= f.label :lat %>
    <%= f.text_field :lat, id: 'lat', class: 'form-control', pattern: '\d*\.\d*', required: true %>
    <%= @sticker.errors.full_messages_for(:lat).first[3..] if @sticker.errors[:lat].any? %>
  </div>
  <div class="form-group">
    <%= f.label :lon %>
    <%= f.text_field :lon, id: 'lon', class: 'form-control', pattern: '\d*\.\d*', required: true %>
    <%= @sticker.errors.full_messages_for(:lon).first[3..] if @sticker.errors[:lon].any?  %>
  </div>
  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_area :notes, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit :Verstuur, class: 'btn btn-primary' %>
  </div>
<% end %>

<button onclick="getLocation()">Get location</button>

<script type="application/javascript">
    let lat = document.getElementById("lat");
    let lon = document.getElementById("lon");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        lat.value = position.coords.latitude;
        lon.value = position.coords.longitude;
    }
</script>
