<div id="map"></div>
<script>

function initMap() {
	<% @stickers.each do |s| %>
			var sticker<%= s.id %> = {lat: <%= s.lat %>, lng: <%= s.lon %>};
			var marker<%= s.id%> = new google.maps.Marker({
				position: sticker<%= s.id%>,
				map: map,
				<% if s.notes.empty? %>
					title: 'Hello World!'
				<% else %>
					title: '<%= s.notes %>'
				<% end %>
});
	<% end %>
	var map = new google.maps.Map(document.getElementById('map'), {
zoom: 4,
center: "Enschede"
});


}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js
	?key=AIzaSyCd7hcvDILgo-1XLUCIKwwmy8vVCNLrLK8
	&callback=initMap">
</script>
