<div style="height: 800px;">
	<div id="map" style="height: 100%;"></div>
</div>
<hr>
<script>
function initMap() {
	var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 4,
		center: { lat: 52.14, lng: 6.53 }
	});

	<% @stickers.each do |s| %>
		var sticker<%= s.id %> = {lat: <%= s.lat %>, lng: <%= s.lon %>};
	  var image = {
			url: '<%= image_path "pin.png" %>',
			size: new google.maps.Size(15, 15)
		};
		var marker<%= s.id %> = new google.maps.Marker({
			position: sticker<%= s.id %>,
			icon: image,
			map: map,
			<% if s.notes.empty? %>
				title: 'Sticker #<%= s.id %>'
			<% else %>
				title: '<%= s.notes %>'
			<% end %>
		});
	<% end %>
}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js
	?key=AIzaSyCd7hcvDILgo-1XLUCIKwwmy8vVCNLrLK8
	&callback=initMap">
</script>
