<script type="text/javascript">
    $(document).ready(function () {
            $("#sticker").tablesorter();
        }
    );
</script>
<table id="sticker" class="tablesorter table table-hover">
  <thead>
  <tr>
    <th>Datum</th>
    <th>Coördinaten</th>
    <th>Adres</th>
    <th>Admin stuff</th>
  </tr>
  </thead>
  <%= render 'shared/pagination/default' %>
  <tbody>
  <% @stickers.each do |m| %>
    <tr>
      <td><%= m.created_at.strftime('%d-%m-%Y %H:%M') %></td>
      <td>
        <%= "#{m.lat}, #{m.lon}" %>
      </td>
      <td>
        <% jdata = Net::HTTP.get_response(URI.parse("https://maps.googleapis.com/maps/api/geocode/json?latlng=#{m.lat},#{m.lon}&key=AIzaSyAz0ENeS5X1Vh9A_-KxxENHBf-qQYB2z-U")) %>
        <% mdata = JSON.parse(jdata.body) %>
        <% if mdata["results"] && mdata["results"][0] && mdata["results"][0]["formatted_address"] %>
          <%= mdata["results"][0]["formatted_address"] %>
        <% else %>
          Adres niet beschikbaar. Waarschijnlijk zijn de coordinaten malformed.
        <% end %>
      </td>

      <td>
        <div class="btn-group btn-group-vertical">
          <%= link_to edit_sticker_path(m), class: 'btn btn-default btn-sm' do %>
            <i class="fas fa-pencil-alt"></i> Wijzig sticker
          <% end %>
          <%= link_to m, class: 'btn btn-default btn-sm', method: :delete, data: {confirm: 'Weet je het zeker?'} do %>
            <i class="far fa-trash-alt"></i> Verwijder sticker
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= render 'shared/pagination/default' %>
