<div class="row">
  <div class="col-md-12">
    <table id="user-table" class="tablesorter table table-hover">
      <thead>
      <tr>
        <th>Naam</th>
        <th>Groepen</th>
        <th>Lichting</th>
        <th>AD</th>
      </tr>
      </thead>
      <tbody>
      <% users.each do |user| %>
        <tr>
          <td><%= gravatar_for user, size: 32 %>
            <%= link_to user.name, user %>
          </td>
          <td>
            <%= user.usergroups.map(&:name).join(", ") %>
            <%= link_to 'Wijzig groepen', usergroups_user_path(user), class: 'btn btn-default' %>
          </td>
          <td>
            <%= form_for user, url: leden_admin_update_path(user), html: {class: 'form-inline'} do |f| %>
              <%= f.number_field :batch, class: "form-control" %>
              <%= f.submit "Opslaan", class: "btn btn-default" %>
            <% end %>
          </td>
          <td>
            <%= UsersHelper.attended_drinks_for(user) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
