<div class="row">
  <div class="col-md-12">
    <table id="user" class="tablesorter table table-hover">
      <thead>
        <tr>
          <th>Naam</th>
          <th>Groepen</th>
          <th>Lichting</th>
          <th>Logins</th>
          <th>AD</th>
        </tr>
      </thead>
      <tbody>
        <% users.each do |user| %>
          <tr>
            <td><%= gravatar_for user, size: 52 %>
            <%= link_to user.name, user %>
            </td>
            <td>
              <%= link_to 'Groepen', usergroups_user_path(user) %>
            </td>
            <td>
              <%= form_for user, url: leden_admin_update_path(user) do |f| %>
                <%= f.number_field :batch %>
                <%= f.submit "Opslaan" %>
              <% end %>
            </td>
            <td>
              <%= user.sign_in_count %>
            </td>
            <td>
              <%= UsersHelper.attended_drinks_for(user) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
