<table id="user" class="tablesorter table table-hover">
  <thead>
    <tr>
      <th>Naam</th>
      <th>Aantal quotes</th>
      <th>Aantal reviews</th>
      <th>Gemiddeld cijfer</th>
      <% if ratio %>
        <th>Sunday Ratio</th>
      <% end %>
      <% if current_user.admin? %>
        <th>Admin stuff</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= gravatar_for user, size: 52 %>
        <%= link_to user.name, user %>
        </td>
        <td><%= user.quotes.count %></td>
        <td><%= user.reviews.count %></td>

        <% if user.weight %>
          <td><%= user.weight.round(2) %></td>
        <% else %>
          <td>Nog onbekend</td>
        <% end %>
        <% if ratio %>
          <td>
            <%= user.sunday_ratio.round(2) %>%
          </td>
        <% end %>
        <% if current_user.admin? %>
          <td>
            <%= link_to edit_user_path(user), class: 'btn btn-info' do %>
              <i class="fas fa-pencil-alt"></i>
            <% end %>
            <%= link_to user, class: 'btn btn-danger', method: :delete,
                        data: {confirm: 'Weet je het zeker?'} do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
