<% content_for :title do %>
  Ledenadministratie
<% end %>

<h2>Leden</h2>
<%= render "users/admin_table", users: @leden, extern: false %>

<h2>Aspiranten
  <%= link_to new_user_invitation_path, class: 'btn btn-default' do %>
    <i class="fa fa-user-plus fa-fw"></i> Aspirant uitnodigen
  <% end %>
</h2>
<% unless @aspiranten.blank? %>
  <%= render "users/admin_table", users: @aspiranten, extern: false %>
<% end %>
<h2>Oud-leden</h2>
<%= render "users/admin_table", users: @oudelullen, extern: false %>

<h2>Externe accounts</h2>
<%= render "users/admin_table", users: @extern, extern: true %>
