<% content_for :title do %>
  Leden
<% end %>

<div data-controller="tabs" data-tabs-active-tab="border-hamers-red-500 text-hamers-red-600 hover:border-hamers-red-600 hover:text-hamers-red-700">
  <div>
    <div class="sm:hidden">
      <label for="tabs" class="sr-only">Select a tab</label>
      <select id="tabs" name="tabs" class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
        <option data-action="click->tabs#change" data-index="0">Leden</option>
        <option data-action="click->tabs#change" data-index="1" >Aspirant-leden</option>
        <option data-action="click->tabs#change" data-index="2" >Oud-leden</option>
        <option data-action="click->tabs#change" data-index="3" >Externe accounts</option>
      </select>
    </div>

    <div class="hidden sm:block -mt-4">
      <div class="border-b border-gray-200">
        <nav class="-mb-px flex space-x-8">
          <button href="#" data-action="click->tabs#change" data-tabs-target="tab" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">
            Leden
          </button>
          <button data-action="click->tabs#change" data-tabs-target="tab" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">
            Aspirant-leden
          </button>
          <button href="#" data-action="click->tabs#change" data-tabs-target="tab" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">
            Oud-leden
          </button>
          <button href="#" data-action="click->tabs#change" data-tabs-target="tab" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">
            Externe accounts
          </button>
        </nav>
      </div>
    </div>
  </div>

  <div class="hidden" data-tabs-target="panel">
    <%= render "users/table", users: @leden, ratio: true %>
  </div>
  <div class="hidden" data-tabs-target="panel">
    <% if current_user&.admin? %>
      <%= link_to new_user_invitation_path, class: "btn btn-default btn-sm" do %>
        <i class="fa fa-user-plus fa-fw"></i> Aspirant uitnodigen
      <% end %>
    <% end %>
    <%= render "users/table", users: @aspiranten, ratio: false %>
  </div>
  <div class="hidden" data-tabs-target="panel">
    <%= render "users/table", users: @oudelullen, ratio: false %>
  </div>
  <div class="hidden" data-tabs-target="panel">
    <%= render "users/table", users: @extern, ratio: false %>
  </div>
</div>
