<div class="row">
  <aside class="col-md-5">
    <section>
      <h1>
        <%= gravatar_for @user, size: 96 %>
        <%= @user.name %>
      </h1>
    </section>

    <% if current_user.admin? %>
      <section>
        <h4>Wijzig lichting</h4>
        <%= form_for @user, url: users_path(@user), html: { class: 'form-inline' } do |f| %>
          <%= f.number_field :batch, class: "form-control input-sm" %>
          <%= f.submit "Opslaan", class: "btn btn-default btn-sm" %>
        <% end %>
      </section>
    <% end %>

    <% if @user.lid? %>
      <% unless @missed_drinks.empty? %>
        <section>
          <h4>Gemiste Zondagborrels</h4>
          <ul>
            <% @missed_drinks.each do |md| %>
              <li><%= link_to md.date.strftime("%d-%m-%Y"), md %><br></li>
            <% end %>
          </ul>
        </section>
      <% end %>
    <% end %>

    <section>
      <h4>Stats</h4>
      <table class="table table-hover table-striped">
        <tr>
          <td>Aantal quotes</td>
          <td><%= @user.quotes.count %></td>
        </tr>
        <tr>
          <td>Aantal reviews</td>
          <td><%= @user.reviews.count %></td>
        </tr>
        <tr>
          <td>Aantal evenementen georganiseerd</td>
          <td><%= @user.events.count %></td>
        </tr>
        <tr>
          <td>Aantal blogposts geschreven</td>
          <td><%= @user.blogitems.count %></td>
        </tr>
        <tr>
          <td>Aantal vergaderingen bijgewoond</td>
          <td><%= @user.meetings_attended.count %></td>
        </tr>
        <tr>
          <td>Aantal vergaderingen voorgezeten</td>
          <td><%= @user.meetings_chaired.count %></td>
        </tr>
        <tr>
          <td>Aantal vergaderingen genotuleerd</td>
          <td><%= @user.meetings_minuted.count %></td>
        </tr>
        <tr>
          <td>Gemiddeld review cijfer</td>
          <td>
            <% if @user.weight %>
              <%= @user.weight.round(2) %>
            <% else %>
              Nog onbekend
            <% end %>
          </td>
        </tr>

        <% if @user.lid? %>
          <tr>
            <td>Sunday ratio</td>
            <td><%= @user.sunday_ratio.round(2) %></td>
          </tr>
        <% end %>

        <tr>
          <td>Account aangemaakt</td>
          <td><%= @user.created_at.strftime('%d-%m-%Y') %></td>
        </tr>

        <% if @user.current_sign_in_at %>
          <tr>
            <td>Tijdstip huidige login</td>
            <td><%= @user.current_sign_in_at.strftime('%d-%m-%Y %H:%M') %></td>
          </tr>
          <tr>
            <td>IP huidige login</td>
            <td><%= @user.current_sign_in_ip %></td>
          </tr>
        <% end %>

        <% if @user.last_sign_in_at %>
          <tr>
            <td>Tijdstip laatste login</td>
            <td><%= @user.last_sign_in_at.strftime('%d-%m-%Y %H:%M') %></td>
          </tr>
          <tr>
            <td>IP laatste login</td>
            <td><%= @user.last_sign_in_ip %></td>
          </tr>
        <% end %>
      </table>
    </section>

  </aside>

  <div class="col-md-7">
    <% if @user.quotes.any? %>
      <h2>Quotes</h2>
      <ol class="microposts">
        <%= render partial: 'quotes/quote_stripped', collection: @quotes, as: :quote %>
      </ol>
      <%= will_paginate @quotes %>
    <% end %>
  </div>

</div>
