<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user, size: 96 %>
        <%= @user.name %>
      </h1>
    </section>
    <% unless @user.nicknames.blank? %>
      <section>
        <%= @user.nickname %>
      </section>
    <% end %>
    <section>
      <% @user.usergroups.each do |g| %>
        <%= g.name %><br>
      <% end %>
    </section>
    <section>
      Reviews: <%= @user.reviews.count %><br>
      <% if @user.lid? %>
        Sunday Ratio: <%= @user.sunday_ratio.round(2) %>%
      <% end %>
    </section>
    <section>
      <% if @user.lid? %>
        <% unless @user.missed_drinks.empty? %>
          <b>Gemiste Zondagborrels</b><br>
          <% @user.missed_drinks.each do |md| %>
            <%= link_to md.date.strftime("%d/%m/%Y"), md %><br>
          <% end %>
        <% end %>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.quotes.any? %>
      <h3>Quotes: (<%= @user.quotes.count %>)</h3>
      <ol class="microposts">
        <%= render @quotes %>
      </ol>
      <%= will_paginate @quotes %>
    <% end %>
  </div>
</div>
