<% content_for :title do %>
  <% @user.name %>
<% end %>

<% content_for :subtitle do %>
  <% if @user.lid? %>
    <div class="flex items-center text-sm text-gray-400">
      <%= heroicon('calendar', class_name: "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400") %>
      Lid sinds <%= @user.lid_since.strftime("%d-%m-%Y") %>
    </div>
    <div class="flex items-center text-sm text-gray-400">
      <%= heroicon('users', class_name: "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400") %>
      Lichting <%= @user.batch %>
    </div>
  <% end %>
<% end %>

<% if current_user == @user %>
  <% content_for :options do %>
    <%= link_to 'Instellingen', edit_user_path(current_user), class: button_classes %>
  <% end %>
<% end %>

<div class="divide-y divide-gray-200 -my-6 md:grid md:grid-cols-12 md:divide-y-0 md:divide-x">
  <aside class="md:col-span-3 md:pr-6">
    <div class="flex justify-center">
      <%= gravatar_for @user, size: 500, class: "h-32 w-32 rounded-full m-8" %>
    </div>

    <div class="-mx-6 text-gray-900">
      <div class="p-2 sm:p-4 border-t border-gray-200">
        <div class="flex flex-wrap content-center justify-evenly">
          <%= render 'usergroups/group_icon_list', user: @user %>
        </div>
      </div>

      <% if current_user.admin? %>
        <div class="p-2 sm:p-4 border-t border-gray-200">
          <h4 class="mb-1">Wijzig lichting</h4>

          <%= form_for @user, url: user_path(@user), html: { class: 'flex rounded-md' } do |f| %>
            <%= f.number_field :batch, class: "focus:ring-hamers-red-500 focus:border-hamers-red-500 block w-full text-sm border-gray-300 rounded-l-md" %>
            <%= f.submit "Opslaan", class: "-ml-px relative inline-flex items-center px-4 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-hamers-red-500 focus:border-hamers-red-500" %>
          <% end %>
        </div>
      <% end %>

      <% if @user.lid? && !@missed_drinks&.empty? %>
        <div class="p-2 sm:p-4 border-t border-gray-200">
          <h4>Gemiste dispuutsborrels</h4>
          <ul class="list-disc list-inside">
            <% @missed_drinks.each do |md| %>
              <li><%= link_to md.date.strftime("%d-%m-%Y"), md %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <dl class="border-t border-gray-200 sm:divide-y sm:divide-gray-200">
        <% specs = {
          "Aantal keer gequote": @user.quotes.count,
          "Aantal bieren gereviewd": @user.reviews.count,
          "Aantal stickers geplakt": @user.stickers.count,
          "Gemiddeld reviewcijfer": @user.average_review_grade,
          "Aantal eventementen georganiseerd": @user.blogitems.count,
          "Aantal blogposts geschreven": @user.blogitems.count,
          "Aantal vergaderingen bijgewoond": @user.meetings_attended.count,
          "Aantal vergaderingen voorgezeten": @user.meetings_chaired.count,
          "Aantal vergaderingen genotuleerd": @user.meetings_minuted.count,
        } %>
        <% specs.each do |name, value| %>
          <div class="py-2 sm:py-4 sm:grid sm:grid-cols-3 sm:gap-4">
            <dt class="mx-6 text-sm font-medium text-gray-500 0 sm:col-span-2">
              <%= name %>
            </dt>
            <dd class="mx-6 mt-1 text-sm text-gray-900 sm:mt-">
              <%= value %>
            </dd>
          </div>
        <% end %>
      </dl>

      <% if @user.alid? && current_user.in_group?("Trajectcoördinatoren") %>
        <div class="p-2 sm:p-4 border-t border-gray-200">
          <h4>Rereviewde bieren</h4>
          <ul class="list-disc list-inside">
            <% @user.reviews.each do |r| %>
              <li>
                <%= link_to r.beer do %>
                  <%= r.beer.name %> <span class="text-gray-500">(<%= r.beer.kind %>)</span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </aside>

  <div class="md:col-span-9 md:pl-6">
    <div class="overflow-hidden border-b sm:rounded-t-md">
      <ul role="list" class="divide-y divide-gray-200">
        <%= render @quotes %>
      </ul>
    </div>
    <div class="py-6">
      <%= render 'shared/pagination/default' %>
    </div>
  </div>
</div>

