<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.quotes.any? %>
      <h3>Quotes: (<%= @user.quotes.where("created_at > ?", Time.now.beginning_of_day).count %>)</h3>
      <ol class="microposts">
        <%= render @quotes %>
      </ol>
      <%= will_paginate @quotes %>
    <% end %>
  </div>
</div>

