<%= form_for(@quote) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.text_area :text, placeholder: 'Wat zei die lul?', class: 'form-control' %>
    </div>
      <div id="user-selector" class="form-group btn-group dropdown">
        <% users_array = User.all.map { |user| [user.name, user.id] } %>
        <%= f.select :user_id, options_for_select(users_array), {}, class: 'form-control selectpicker' %>
      </div>
    <%= f.submit 'Quote', class: 'btn btn-large btn-primary' %>
<% end %>
