<div class="bg-white overflow-hidden shadow rounded-lg hidden lg:block">
  <%= link_to trail_path do %>
    <h2 class="text-hamers-red-400 text-xl font-bold m-4">Wat is er gebeurd?</h2>
  <% end %>

  <div class="flex items-center">
    <ul class="divide-y divide-gray-200 w-full">
      <% @trail.each do |t| %>
        <li class="py-2 px-4 w-full">
          <div class="flex space-x-3">
            <%= gravatar_for User.find_by_id(t.whodunnit) %>
            <div class="flex-1 space-y-1">
              <div class="flex items-center justify-between">
                <span class="text-sm font-medium">
                  <% if t.present.link %>
                    <%= link_to t.present.message, t.present.link %>
                  <% else %>
                    <%= t.present.message %>
                  <% end %>
                </span>
              </div>
              <p class="text-sm text-gray-500"><%= time_ago_in_words(t.created_at) %> geleden.</p>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
