<div class="hidden bg-white dark:bg-gray-900 overflow-hidden shadow rounded-lg md:block p-4">
  <h2 class="text-xl font-bold tracking-tight text-gray-900 dark:text-gray-200 mb-4 text-center mt-2">
    Welkom <span class="text-hamers-red-400"><%= current_user.name %></span>
  </h2>
  <p class="block font-semibold text-justify dark:text-gray-200">
    Je bent
    <% if current_user.alid? %>
      <span class="text-hamers-red-400">feut</span>,
    <% end %>
    <span class="text-hamers-red-400"><%= current_user.quotes.count %></span> keer geciteerd,
    hebt <span class="text-hamers-red-400"><%= current_user.reviews.count %></span> biertjes gereviewd,
    <span class="text-hamers-red-400"><%= current_user.stickers.count %></span> stickers geplakt,
    <span class="text-hamers-red-400"><%= current_user.blogitems.count %></span> blogs geschreven en
    bent bij <span class="text-hamers-red-400"><%= Signup.where(event_id: Event.where(attendance: true).pluck(:id), user: current_user).count %></span>
    borrels geweest, met een inschrijfpercentage van <span class="text-hamers-red-400"><%= current_user.drink_ratio.round(0) %>%</span> in het afgelopen jaar.

    <% if current_user.drink_ratio < 0.8 %>
      <em>Probeer je vaker in of uit te schrijven!</em>
    <% end %>
  </p>
</div>
