<div class="hidden bg-white overflow-hidden shadow rounded-lg md:block p-4">
  <h2 class="text-xl font-bold tracking-tight text-gray-900 mb-4 text-center mt-2">
    Welkom <span class="text-hamers-red-400"><%= current_user.name %></span>
  </h2>
  <p class="block font-semibold text-justify">
    Je bent
    <% if current_user.alid? %>
      <span class="text-hamers-red-400">feut</span>,
    <% end %>
    <span class="text-hamers-red-400"><%= current_user.quotes.count %></span> keer geciteerd,
    hebt <span class="text-hamers-red-400"><%= current_user.reviews.count %></span> biertjes gereviewd,
    <span class="text-hamers-red-400"><%= current_user.stickers.count %></span> stickers geplakt,
    <span class="text-hamers-red-400"><%= current_user.blogitems.count %></span> blogs geschreven en
    bent bij <span class="text-hamers-red-400"><%= Signup.where(event_id: Event.where(attendance: true).pluck(:id), user: current_user).count %></span>
    borrels geweest.
  </p>
</div>
