<%= form_for(@event) do |f| %>
<% if @event.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@event.errors.count, 'error') %> prohibited this event from being saved:</h2>
  <ul>
    <% @event.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="flex-grow w-full max-w-7md mx-auto md:px-8 lg:flex">
  <div class="flex-1 min-w-0 bg-white md:flex">
    <div
      class="border-b border-gray-200 md:border-b-0 md:flex-shrink-0 md:w-64 md:border-r md:border-gray-200 bg-white">
      <div class="h-full pl-4 pr-6 md:pl-0">
        <div class="h-full relative" style="min-height: 12rem;">
          <div class="mt-6 grid grid-cols-3 gap-y-6 gap-x-4">

            <div class="col-span-3">
              <label class="block text-sm font-medium text-gray-700">
                Titel
              </label>
              <div class="mt-1">
                <%= f.text_field :title, class: 'shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md' %>
              </div>
            </div>

            <div class="col-span-3">
              <label class="block text-sm font-medium text-gray-700">
                Locatie
              </label>
              <div class="mt-1">
                <%= f.text_field :location, class: 'shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md' %>
              </div>
            </div>

            <div class="col-span-3">
              <label class="block text-sm font-medium text-gray-700">
                Wanneer
              </label>
              <div class="mt-1">
                <%= f.text_field :date,
                      class: 'hadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md',
                      data: {
                        controller: "flatpickr",
                        flatpickr_default_date: @event.date&.strftime("%d-%m-%Y %H:%i"),
                        flatpickr_date_format: "d-m-Y H:i",
                        flatpickr_enable_time: true,
                        flatpickr_time_24hr: true
                      } %>
              </div>
            </div>

            <div class="col-span-3">
              <label class="block text-sm font-medium text-gray-700">
                Tot
              </label>
              <div class="mt-1">
                <%= f.text_field :end_time,
                      class: 'hadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md',
                      data: {
                        controller: "flatpickr",
                        flatpickr_default_date: @event.date&.strftime("%d-%m-%Y %H:%i"),
                        flatpickr_date_format: "d-m-Y H:i",
                        flatpickr_enable_time: true,
                        flatpickr_time_24hr: true
                      } %>
              </div>
            </div>

            <div class="col-span-3">
              <label class="block text-sm font-medium text-gray-700">
                Inschrijven sluit op
              </label>
              <div class="mt-1">
                <%= f.text_field :deadline,
                      class: 'hadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md',
                      data: {
                        controller: "flatpickr",
                        flatpickr_default_date: @event.date&.strftime("%d-%m-%Y %H:%i"),
                        flatpickr_date_format: "d-m-Y H:i",
                        flatpickr_enable_time: true,
                        flatpickr_time_24hr: true
                      } %>
              </div>
            </div>

            <div class="col-span-3">
              <label class="block text-sm font-medium text-gray-700">
                Groep (optioneel)
              </label>
              <div class="mt-1">
                <%= f.select :usergroup_id, Usergroup.all.collect { |x| [x.name, x.id] }, include_blank: true, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
              </div>
            </div>

            <div class="flex items-start col-span-3 md:justify-between">
              <div class="flex items-center h-5">
                <%= f.check_box :public, { checked: @event.invitation_code? }, class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
              </div>
              <div class="ml-3 text-sm">
                <label class="font-medium text-gray-700">Plebs</label>
                <p class="text-gray-500">Staan we plebs toe op deze activiteit?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white lg:min-w-0 lg:flex-1">
      <div class="h-full py-6 px-4 sm:px-6 lg:px-8">
        <div class="relative h-full">
          <%= f.rich_text_area :description, class: 'form-control higher form-input', placeholder: 'Wat gaan we doen?' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex justify-center mt-5">
  <%= f.submit "Opslaan", class: "inline-flex items-center px-6 py-3 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
</div>
<% end %>
