<h1>Activiteiten</h1>

<table>
  <thead>
    <tr>
      <th>Activiteit</th>
      <th>Datum</th>
      <% if current_user.admin? %>
      <th></th>
      <% end %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.title, event %></td>
	<td><%= event.date.strftime("%d/%m/%Y") %>
        <% if current_user == event.user and !current_user.admin? and !current_user.schrijf_feut? %>
        <td><%= link_to 'Wijzig', edit_event_path(event) %>
        <% end %>
        <% if current_user.admin? %>
        <td><%= link_to 'Wijzig', edit_event_path(event) %></td>
        <td><%= link_to 'Verwijder', event, method: :delete, data: { confirm: 'Weet je het zeker?' } %></td>
        <% end %>
        <% if current_user.schrijf_feut? %>
	<td><%= link_to 'Wijzig', edit_event_path(event) %></td>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if lid? %>
<%= link_to 'Nieuwe activiteit', new_event_path %>
<% end %>
