<% content_for :title do %>
  <%= @event.title %>
<% end %>

<% content_for :subtitle do %>
  <div class="flex items-center text-sm text-gray-400">
    <%= heroicon('clock', class_name: "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400") %>
    <%= @event.date.strftime('%d-%m-%Y %H:%M') %>
    <%= "tot #{@event.end_time.strftime('%d-%m-%Y %H:%M')}" if @event.end_time? %>
  </div>
  <% if @event.location.present? %>
    <div class="flex items-center text-sm text-gray-400">
      <%= heroicon('location-marker', class_name: "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400") %>
      <%= link_to @event.location, "https://www.google.com/maps/search/?api=1&query=#{@event.location}", target: "_blank" %>
    </div>
  <% end %>
<% end %>

<% content_for :options do %>
  <%= link_to "Schop mensen", reminder_path(@event), data: { confirm: "Je gaat alle mensen op onbekend een mail sturen, weet je het zeker?" }, class: button_classes if @event.open? %>
  <%= link_to "Wijzig", edit_event_path(@event), class: button_classes %>
  <%= link_to "Verwijder", @event, method: :delete, data: { confirm: 'Weet je het zeker?' }, class: button_classes if current_user.admin? %>
<% end %>

<div class="flex-1 min-w-0 bg-white md:flex">
  <div class="border-b border-gray-200 md:border-b-0 bg-white md:min-w-0 md:flex-1 md:pr-4 font-medium text-gray-900">
    <div class="relative h-auto divide-y divide-gray-200">

      <div class="pb-4">
        <%= @event.description %>
      </div>

      <div class="flex flex-col w-full border-b border-gray-200 pt-4">
        <% if @event.open? %>
          <%= form_for @event.signups.new(event_id: @event.id, user_id: current_user.id, status: 1), html: { class: "w-full" } do |f| %>
            <div class="flex w-full md:justify-between md:items-center">
              <%= f.text_field :reason, placeholder: "Opmerkingen", class: input_classes %>
              <%= f.hidden_field :event_id, value: @event.id %>
              <%= f.submit 'Aanwezig', class: "ml-4 #{submit_classes}" %>
              <%= f.submit 'Afwezig', class: 'cursor-pointer ml-4 inline-flex items-center px-4 py-2 border border-transparent text-sm font-bold rounded-md shadow-sm text-white bg-gray-400 hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-500' %>
            </div>
          <% end %>
          <p class="text-right text-gray-500 py-2">Inschrijven kan tot <%= @event.deadline&.strftime('%d-%m-%Y %H:%M') || @event.date.strftime('%d-%m-%Y %H:%M') %></p>
        <% else %>
          <p class="text-center text-gray-500">De inschrijving is gesloten sinds <%= @event.deadline&.strftime('%d-%m-%Y %H:%M') %>.</p>
        <% end %>
      </div>

      <% if @event.location.present? %>
        <div class="pt-4 embed-responsive embed-responsive-4by3 hidden sm:visible">
          <iframe class="embed-responsive-item w-full" height="256" style="border:0"
                  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCd7hcvDILgo-1XLUCIKwwmy8vVCNLrLK8&q=<%= @event.location %>"
                  allowfullscreen>
          </iframe>
        </div>
      <% end %>
    </div>
  </div>

  <div class="border-gray-200 md:flex-shrink-0 md:w-64 md:-my-6 md:border-l md:border-gray-200 bg-white">
    <div class="w-full my-6 md:mx-6 md:pr-6">
      <p class="flex w-full justify-between">
        <span class="font-semibold pb-1">Aanwezig</span>
        <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-green-100 text-green-800">
            <%= @event.signups.where(status: true).count %>
          </span>
      </p>
      <ul role="list" class="mb-2 space-y-2">
        <% @event.signups.where(status: true).each do |s| %>
          <li class="flex">
            <%= gravatar_for s.user, class: "h-8 w-8 rounded-full self-center" %>
            <div class="ml-3">
              <p class="text-sm font-medium text-gray-900 self-center"><%= s.user.name %></p>
              <% if s.reason %>
                <p class="text-sm text-gray-500"><%= s.reason %></p>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>

      <p class="flex w-full justify-between">
        <span class="font-semibold pb-1">Afwezig</span>
        <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-red-100 text-red-800">
          <%= @event.signups.where(status: false).count %>
        </span>
      </p>
      <ul role="list" class="mb-2 space-y-2">
        <% @event.signups.where(status: false).each do |s| %>
          <li class="flex">
            <%= gravatar_for s.user, class: "h-8 w-8 rounded-full self-center" %>
            <div class="ml-3">
              <p class="text-sm font-medium text-gray-900"><%= s.user.name %></p>
              <% if s.reason %>
                <p class="text-sm text-gray-500"><%= s.reason %></p>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>

      <% if @event.public? %>
        <div class="flex w-full justify-between">
          <span class="font-semibold pb-1">Plebs</span>
          <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-green-100 text-green-800">
            <%= @event.external_signups.count %>
          </span>
        </div>
        <p class="text-sm text-gray-500">
          Deze activiteit is publiek. Externen kunnen zich inschrijven via <%= link_to "deze link", @event.invitation_link, target: "_blank" %>.
        </p>
        <ul role="list" class="mb-2 space-y-2">
          <% @event.external_signups.each do |s| %>
            <li class="flex">
              <%= gravatar_for_email s.email, class: "h-8 w-8 rounded-full self-center" %>
              <div class="ml-3">
                <p class="text-sm font-medium text-gray-900"><%= "#{s.first_name} #{s.last_name}" %></p>
                <% if s.note %>
                  <p class="text-sm text-gray-500"><%= s.note %></p>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% if @unknown.any? %>
        <div class="flex w-full justify-between pb-1">
          <span class="font-semibold">Onbekend</span>
          <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-yellow-100 text-yellow-800">
              <%= @unknown.count %>
            </span>
        </div>
        <% if @event.usergroup %>
          <p class="text-sm text-gray-500">
            Omdat deze activiteit een bijbehorende groep heeft worden alleen onbekenden uit die groep weergegeven.
          </p>
        <% end %>
        <ul role="list" class="mb-2 space-y-2">
          <% @unknown.each do |s| %>
            <li class="flex">
              <%= gravatar_for s, class: "h-8 w-8 rounded-full mr-3" %>
              <p class="text-sm font-medium text-gray-900"><%= s.name %></p>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
