<% content_for :title do %>
  <%= @event.title %>
<% end %>

<div class="row">
  <div class="col-md-8">
    <p>
      <i class="far fa-clock"></i> <%= @event.date.strftime('%d-%m-%Y %H:%M') %>
      <%= "tot #{@event.end_time.strftime('%d-%m-%Y %H:%M')}" if @event.end_time? %>
    </p>
    <% if @event.location != nil and @event.location.length > 1 %>
      <p><i class="fa fa-map-marker"></i> <%= @event.location %></p>
    <% end %>
    <p>
      <% if @event.beschrijving.present? %>
        <%= markdown(@event.beschrijving).html_safe %>
      <% else %>
        <%= @event.description %>
      <% end %>
    </p>
  </div>
  <div id="event-info-panel" class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if @event.attendance %>
          <i class="fa fa-exclamation-triangle fa-fw"></i> Op deze activiteit wordt je verwacht aanwezig te zijn.
          <hr>
        <% end %>

        <% if @event.deadline %>
          <strong>Inschrijfdeadline:</strong> <%= @event.deadline.strftime('%d-%m-%Y %H:%M') %>
          <hr>
          <% end %>

        <% if @event.user %>
          <strong>Activiteit door:</strong> <%= @event.user.name %>
          <hr>
        <% end %>

        <h4>Aanwezig <span class="text-muted small"><%= @event.signups.where(status: true).count %></span></h4>
        <ul class="signup-list">
          <% @event.signups.where(status: true).each do |s| %>
            <li><%= s.user.name %>
              <% if s.reason %>
                <% if s.reason %>
                  <span><%= s.reason %></span>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <% if @event.open? %>
          <%= form_for @event.signups.build(event_id: @event.id, user_id: current_user.id, status: 1), html: {class: "form-inline"} do |f| %>
            <%= f.hidden_field :event_id %>
            <%= f.hidden_field :status %>
            <%= f.text_field :reason, placeholder: "Opmerkingen?", class: 'form-control' %>
            <%= f.submit 'Aanwezig', class: 'btn btn-default' %>
          <% end %>
        <% else %>
          <button type="button" class="btn btn-sm btn-default btn-block" disabled>De inschrijving is gesloten.</button>
        <% end %>

        <hr>

        <h4>Afwezig <span class="text-muted small"><%= @event.signups.where(status: false).count %></span></h4>
        <ul class="signup-list">
          <% @event.signups.where(status: false).each do |s| %>
            <li>
              <%= s.user.name %>
              <% if s.reason %>
                <span><%= s.reason %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
        <% if @event.open? %>
          <%= form_for @event.signups.build(event_id: @event.id, user_id: current_user.id, status: 0), html: {class: 'form-inline'} do |f| %>
            <%= f.hidden_field :event_id %>
            <%= f.hidden_field :status %>
            <%= f.text_field :reason, placeholder: "Waarom niet?", class: 'form-control' %>
            <%= f.submit 'Afwezig', class: 'btn btn-default' %>
          <% end %>
        <% else %>
          <button type="button" class="btn btn-sm btn-default btn-block" disabled>De inschrijving is gesloten.</button>
        <% end %>

        <hr>

        <% if @event.public? || @event.external_signups.any? %>
          <h4>Plebs <span class="text-muted small"><%= @event.external_signups.count %></span></h4>
          <ul class="signup-list">
            <%- @event.external_signups.each do |s| %>
              <li>
                <%= "#{s.first_name} #{s.last_name} (#{s.email})" %>
                <% if s.note %>
                  <span><%= s.note %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
          <hr>
        <% end %>

        <% if @unknown.any? %>
          <h4>Onbekend <span class="text-muted small"><%= @unknown.count %></span></h4>
          <div class="clearfix">
            <%- @unknown.each do |s| %>
              <%= link_to gravatar_for(s), s, class: "small-profile-picture" %>
            <% end %>
          </div>
          <hr>
        <% end %>

        <div class="btn-group btn-group-vertical">
          <% if @event.public? %>
            <%= link_to @event.invitation_link, class: "btn btn-default", target: "_blank" do %>
              <i class="fas fa-link"></i> Plebuitnodiglink
            <% end %>

          <% end %>
          <%= link_to edit_event_path(@event), class: 'btn btn-default' do %>
            <i class="fas fa-pencil-alt"></i> Wijzig activiteit
          <% end %>
          <% if @event.open? %>
            <%= link_to reminder_path(@event), class: 'btn btn-default' do %>
              <i class="fa fa-bell"></i> Herinner Hamers
            <% end %>
          <% end %>
          <% if current_user.admin? %>
            <%= link_to @event, method: :delete, data: {confirm: 'Weet je het zeker?'}, :class => 'btn btn-default' do %>
              <i class="far fa-trash-alt"></i> Verwijder activiteit
            <% end %>
          <% end %>
        </div>

        <hr>

        <% if @event.location %>
          <div class="embed-responsive embed-responsive-4by3">
            <iframe
              class="embed-responsive-item"
              width="300"
              height="266"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCd7hcvDILgo-1XLUCIKwwmy8vVCNLrLK8&q=<%= @event.location %>" allowfullscreen>
            </iframe>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
