<h1>Stemmingen</h1>

<%= will_paginate %>	

<ul class="users">
  <% @polls.each do |poll| %>
    <li>
      <%= poll.beschrijving %>
        <%= form_for(current_user.votes.build(poll_id: poll.id, result: 1)) do |f| %>
          <div><%= f.hidden_field :poll_id %></div>
          <div><%= f.hidden_field :result %></div>
          <%= f.submit "Voor (" + poll.votes.where(result: 1).count.to_s + ")", class: "btn btn-large btn-primary" %>
        <% end %>    
        <%= form_for(current_user.votes.build(poll_id: poll.id, result: 0)) do |f| %>
          <div><%= f.hidden_field :poll_id %></div>
          <div><%= f.hidden_field :result %></div>
          <%= f.submit "Tegen (" + poll.votes.where(result: 0).count.to_s + ")", class: "btn btn-large btn-primary" %>
        <% end %>
      <% if current_user.admin? %>
        | <%= link_to "Wijzig", edit_poll_path(poll) %>
        | <%= link_to "Verwijder", poll, method: :delete,
                                  data: { confirm: "Weet je het zeker?" } %>
    <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>

<% if current_user.admin? %>
<%= link_to 'Nieuwe stemming', new_poll_path %>
<% end %>
