<div class="mx-auto w-full max-w-sm lg:w-96">
  <h2 class="mt-6 text-3xl font-extrabold text-gray-900 dark:text-gray-200">
    Aanmelden
  </h2>

  <% if @external_signup.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @external_signup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-8">
    <%= form_for @external_signup, url: create_external_signup_event_path(invitation_code: @invitation_code), html: {class: "space-y-6"} do |f| %>
      <div>
        <label for="first_name" class="<%= label_classes %>">
          Voornaam
        </label>
        <div class="mt-1">
        <%= f.text_field :first_name, class: input_classes %>
      </div>

      <div>
        <label for="last_name" class="<%= label_classes %>">
          Achternaam
        </label>
        <div class="mt-1">
        <%= f.text_field :last_name, class: input_classes %>
      </div>

      <div>
        <label for="email" class="<%= label_classes %>" >
          Email adres
        </label>
        <div class="mt-1">
        <%= f.email_field :email, class: input_classes %>
      </div>

      <div>
        <label for="note" class="<%= label_classes %>">
          Opmerkingen
        </label>
        <div class="mt-1">
        <%= f.text_area :note, class: input_classes %>
      </div>

      <div class="pt-4">
        <%= f.submit "Aanmelden", class: submit_classes %>
      </div>
    <% end %>
  </div>
</div>
