<% content_for :title do %>
  Aanmelden voor <%= @event.title %>
<% end %>

<div class="w-full grid grid-cols-1 md:grid-cols-2 px-5 md:px-0 dark:text-gray-200">
  <div class="col-1">
    <div class="flex border-b border-gray-200 dark:border-gray-700 mb-2 pb-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <%= @event.date.strftime('%d-%m-%Y %H:%M') %>
      <%= "tot #{@event.end_time.strftime('%d-%m-%Y %H:%M')}" if @event.end_time? %>
    </div>

  
    <%= @event.description %>

    <% if @event.location.present? %>
      <div class="border-t border-gray-200 dark:border-gray-700 mt-2 pt-2">
        <div class="flex">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
          </svg>
          <%= @event.location %>
        </div>
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item w-full" height="266" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=<%= Rails.application.credentials.google_api_key %>&q=<%= @event.location %>"
            allowfullscreen>
          </iframe>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-2">
    <% if @event.open? %>
      <%= render "form" %>
    <% else %>

    <% end %>
  </div>
</div>
