<% content_for :title do %>
  Log in
<% end %>

<%= render layout: 'layouts/small_width' do %>
  <%= form_for resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-6" } do |f| %>
    <div class="rounded-md shadow-sm -space-y-px">
      <div>
        <label for="email-address" class="sr-only">Email address</label>
        <%= f.email_field :email, autofocus: true, required: true, placeholder: 'E-mail adres', class: 'appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-hamers-red-500 focus:border-hamers-red-500 focus:z-10 sm:text-sm' %>
      </div>
      <div>
        <label for="password" class="sr-only">Password</label>
        <%= f.password_field :password, autocomplete: 'off', type: 'password', required: true, placeholder: 'Wachtwoord', class: 'appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-hamers-red-500 focus:border-hamers-red-500 focus:z-10 sm:text-sm' %>
      </div>
    </div>

    <div class="flex items-center justify-between">
      <% if devise_mapping.rememberable? -%>
        <div class="flex items-center">
          <%= f.check_box :remember_me, class: "h-4 w-4 text-hamers-red-600 focus:ring-hamers-red-500 border-gray-300 rounded" %>
          <%= f.label :remember_me, "Blijf ingelogd", class: "ml-2 block text-sm text-gray-900" %>
        </div>
      <% end %>

      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Wachtwoord vergeten?", new_password_path(resource_name), class: 'font-medium text-hamers-red-600 hover:text-hamers-red-500' %>
      <% end -%>
    </div>

    <%= f.button "Log in", type: 'submit', class: "w-full justify-center inline-flex items-center px-4 py-2 mt-4 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-hamers-red-600 hover:bg-hamers-red-700 focus:outline-none focus:ring-2 focus:ring-hamers-red-500" %>
  <% end %>
<% end %>
