<% content_for :title do %>
  Log in
<% end %>

<%= render layout: 'layouts/forms/form_small' do %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'email' %>
    </div>
    &nbsp;
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-key"></i></span>
      <%= f.password_field :password, autocomplete: 'off', type: 'password', class: 'form-control', placeholder: 'wachtwoord' %>
    </div>
    <% if devise_mapping.rememberable? -%>
      <div class="checkbox">
        <%= f.label :remember_me %>
        <%= f.check_box :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>
    <%= render 'devise/shared/links' %>
  <% end %>
<% end %>
