<div>
  <%= form_for @chug do |f| %>
    <label class="<%= label_classes %> mb-1">
      Ad getrokken door:
    </label>
    <% users_array = User.all.map { |user| [user.name, user.id] } %>
    <%= f.select :user_id, options_for_select(users_array, @userid), {}, class: select_classes %>

    <label class="<%= label_classes %> mb-1 mt-3">
      Tijd (in seconden)
    </label>
    <div class="w-full">
      <%= f.text_field :time, step: :any, inputmode: 'decimal' ,class: input_classes, required: true, placeholder: "_.__", value: @chug.time != 0.0 ? @chug.time : '', autofocus: true,
                       oninput: "this.value = this.value.replace(',','.')"
      %>
    </div>

    <label class="<%= label_classes %> mb-1 mt-3">
      Opmerkingen
    </label>
    <%= f.text_field :comment, class: input_classes, placeholder: "Opmerkingen" %>

    <div class="flex justify-center mt-5">
      <%= f.submit "Opslaan", class: submit_classes %>
    </div>
  <% end %>
</div>
