<% content_for :title do %>
  Aspirant uitnodigen
<% end %>

<%= render layout: 'layouts/small_width' do %>
  <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { class: 'space-y-3 space-y', :method => :post } do |f| %>
    <%= devise_error_messages! %>
    <%= f.email_field :email, placeholder: "E-mailadres", class: input_classes %>
    <p><%= f.submit t("devise.invitations.new.submit_button"), class: submit_classes %></p>
  <% end %>
<% end %>
