<% content_for :title do %>
  Nieuw lid uitnodigen
<% end %>

<%= render layout: 'layouts/forms/form_small' do %>
  <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
    <%= devise_error_messages! %>

    <div class="input-group">
      <span class="input-group-addon"><i class="fas fa-envelope-o"></i></span>
      <%= f.email_field :email, autofocus: false, class: "form-control", placeholder: "email" %>
    </div>
    &nbsp;
    <p><%= f.submit t("devise.invitations.new.submit_button"), class: "btn btn-large btn-success" %></p>
  <% end %>
<% end %>
