<%= form_for(@beer) do |f| %>
  <% if @beer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beer.errors.count, "error") %> prohibited this beer from being saved:</h2>

      <ul>
      <% @beer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.text_field :picture %>
  </div>
  <div class="field">
    <%= f.label :soort %><br>
    <%= f.text_field :soort %>
  </div>
  <div class="field">
    <%= f.label :percentage %>
    <%= f.text_field :percentage %>
  </div>
  <div class="field">
    <%= f.label :brewer %>
    <%= f.text_field :brewer %>
  </div>
  <div class="field">
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :URL %>
    <%= f.text_field :URL %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
