<%= form_for @beer, html: {class: 'space-y-2 space-y'} do |f| %>
  <% if @beer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beer.errors.count, 'error') %> prohibited this beer from being saved:</h2>

      <ul>
        <% @beer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name, class: label_classes %>
  <%= f.text_field :name, class: input_classes %>

  <% if @beer.image.attached? %>
    <%= image_tag @beer.image.representation(resize_to_limit: [128, 128]) %>
  <% end %>
  <%= f.label :image, class: label_classes %>
  <%= f.file_field :image %>

  <%= f.label :kind, class: label_classes %>
  <%= f.text_field :kind, class: input_classes %>

  <%= f.label :percentage, class: label_classes %>
  <%= f.text_field :percentage, class: input_classes %>

  <%= f.label :brewer, class: label_classes %>
  <%= f.text_field :brewer, class: input_classes %>

  <%= f.label :country, class: label_classes %>
  <%= f.text_field :country, class: input_classes %>

  <%= f.label :URL, class: label_classes %>
  <%= f.text_field :URL, class: input_classes %>

  <%= f.submit :Verstuur, class: submit_classes %>
<% end %>
