<script type="text/javascript">
$(document).ready(function() 
    { 
        $("#bier").tablesorter(); 
    } 
); 
</script>

<h1>Biertjes</h1>

<table id="bier" class="tablesorter">
  <thead>
    <tr>
      <th>Name</th>
      <th>Soort</th>
      <th>Cijfer</th>
      <th>Aantal reviews</th>
      <% if current_user.admin? %>
      <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @beers.each do |beer| %>
      <tr>
        <td><%= link_to beer.name, beer %></td>
        <td><%= beer.soort %></td>
        <td><%= beer.reviews.average(:rating) %></td>
	<td><%= beer.reviews.count %></td>
        <% if current_user.admin? %>
        <td><%= link_to 'Destroy', beer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Beer', new_beer_path %>
