<% content_for :title do %>
  Bieren
<% end %>

<div class="row">
  <% if current_user&.active? %>
    <%= link_to 'Voeg bier toe', new_beer_path, :class => 'btn btn-block btn-primary' %>
  <% end %>

  <div class="col-md-6">
    <div class="pagination">
      <div class="pagination">
        <%= form_tag beers_path, class: "form-horizontal", method: :get do %>
          <div class="input-group" id="adv-search">
            <%= text_field_tag :search, @sp, class: 'form-control', placeholder: 'Vind hier, je bier' %>
            <div class="input-group-btn">
              <div class="btn-group" role="group">
                <%= submit_tag "Zoek", class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'table' %>
