<%= form_for(@beer.reviews.build(user_id: current_user.id, beer_id: @beer.id)) do |f| %>
  <div class="field">
    <%= f.text_area :description, placeholder: "Wat vonden we ervan?" %>
  </div>
  <div class="field">
  <%= f.label :rating %>
  <%= f.select :rating, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %>
  <div class="field">
    <%= f.label :proefdatum, "Proefdatum" %>
    <%= f.date_select :proefdatum %>
  </div>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :beer_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <%= link_to 'back', @beer %>
  </div>
  
<% end %>
