<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="span8">
    <% @beer.reviews.each do |r| %>
    <section>
      <p><i><%= link_to User.find(r.user_id).name, User.find(r.user_id) %></i> zei over dit bier: </p>
      <p><%= simple_format(r.description) %></p>
      <p>Dit biertje kreeg een <i><%= r.rating %></i> en is geproefd op <i><%= r.proefdatum.strftime("%d/%m/%Y") %></i>
      <% if current_user == User.find(r.user_id) || current_user.admin? %>
       | <%= link_to "edit", edit_review_path(r) %>
       <% if current_user.admin? %>
       | <%= link_to "destroy", r, method: :delete,
                                  data: { confirm: "You sure?" } %>
       <% end %>
       <% end %> 
      </p>
    </section>
    <% end %>
  </aside> 
  <div class="span2"> 
    <section>
    <%= image_tag(@beer.picture, :alt => @beer.name) %>
    <table><tr><th width="30%"></th><th width="70%"></th></tr>
    <tr><td>name:</td><td align="right"><%= @beer.name %></td></tr>
    <tr><td>soort:</td><td align="right"><%= @beer.soort %></td></tr>
    <tr><td>ALC:</td><td align="right"><%= @beer.percentage %></td></tr>
    <tr><td>Brouwer:</td><td align="right"><%= @beer.brewer %></td></tr>
    <tr><td>Land:</td><td align="right"><%= @beer.country %></td></tr>
    </table>
    </section>
  </div>
</div>

<div class="btn-group">
  <%= link_to 'Review', reviews_beer_path(@beer), :class => "btn btn-primary" unless current_user.reviews.find_by(beer_id: @beer.id) %> 
  <% if current_user.admin? || current_user.dev? %>
    <%= link_to 'Edit', edit_beer_path(@beer), :class => "btn btn-info" %>
  <% end %>
<%= link_to 'Back', beers_path, :class => "btn" %>
</div>
