<% content_for :title do %>
  <%= @beer.name %>
<% end %>

<% content_for :subtitle do %>
  <div class="flex items-center text-sm text-gray-400">
    <%= heroicon('calendar', class_name: "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400") %>
    Aangemaakt op <%= @beer.created_at.strftime("%d-%m-%Y") %>
  </div>

  <div class="flex items-center text-sm text-gray-400">
    <%= heroicon('users', class_name: "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400") %>
    <%= pluralize @beer.reviews.count, 'review', 'reviews', locale: :nl %>
  </div>
<% end %>

<% if current_user %>
  <% content_for :options do %>
    <% unless current_user.reviews.find_by(beer_id: @beer.id) %>
      <%= link_to "Review", reviews_beer_path(@beer), class: button_classes %>
    <% end %>
    <%= link_to "Wijzig", edit_beer_path(@beer), class: button_classes %>
  <% end %>
<% end %>

<div class="divide-y divide-gray-200 -my-6 md:grid md:grid-cols-12 md:divide-y-0 md:divide-x">
  <div class="-mx-5 sm:-mx-6 md:col-span-9 md:pr-6">
    <div class="overflow-hidden border-b sm:rounded-t-md">
      <ul role="list" class="divide-y divide-gray-200">
        <%= render @reviews %>
      </ul>
    </div>
  </div>

  <aside class="md:col-span-3 md:pl-6">
    <div class="mt-6">
      <% if current_user&.active? && @beer.image.attached? %>
        <%= image_tag @beer.image, class: "w-full" %>
      <% else %>
        <img src="https://placehold.co/500x500?text=Geen foto" class="w-full">
      <% end %>

      <div class="mt-5 -mx-6 border-t border-gray-200">
        <dl class="sm:divide-y sm:divide-gray-200">

          <% specs = {
            Naam: @beer.name,
            Soort: @beer.kind,
            ALC: @beer.percentage,
            Brouwer: @beer.brewer,
            Land: @beer.country
          } %>

          <% specs.each do |name, value| %>
            <div class="py-2 sm:py-4 sm:grid sm:grid-cols-3 sm:gap-4">
              <dt class="mx-6 text-sm font-medium text-gray-500">
                <%= name %>
              </dt>
              <dd class="mx-6 mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                <%= value %>
              </dd>
            </div>
          <% end %>

          <% if @beer.URL %>
            <div class="py-2 sm:py-4 sm:grid sm:grid-cols-3 sm:gap-4">
              <dt class="mx-6 text-sm font-medium text-gray-500">
                Meer informatie
              </dt>
              <dd class="mx-6 mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                <%= link_to "Link", @beer.URL %>
              </dd>
            </div>
          <% end %>
        </dl>
      </div>
    </div>
  </aside>
</div>
