<% content_for :title do %>
  <%= @beer.name %>
<% end %>

<div class="row">
  <div class="col-md-8">
    <% @beer.reviews.with_user.each do |r| %>
      <div class="review">
        <h4>
          <% if current_user&.active? || !r.user.anonymous? %>
            <%= link_to r.user.name, r.user %>
          <% else %>
            Anonieme Hamer
          <% end %>

          zei over dit bier:
        </h4>

        <p>
          <% if r.actiontext_description.present? %>
            <%= r.actiontext_description %>
          <% else %>
            <i><%= simple_format(r.description) %></i>
          <% end %>
        </p>

        <p>
          Dit biertje kreeg een <i><%= r.rating %></i> en is geproefd op
          <i><%= r.proefdatum&.strftime('%d-%m-%Y') %></i>
        </p>

        <div class="btn-group pull-right">
          <% if current_user&.active? %>
            <%= link_to edit_review_path(r), class: 'btn btn-default btn-sm' do %>
              <i class="fas fa-pencil-alt"></i>
            <% end %>
            <%= link_to r, method: :delete, data: { confirm: 'Weet je het zeker?' }, class: 'btn btn-default btn-sm' do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="clearfix"></div>
      <hr>
    <% end %>
  </div>
  <div id="beer-info-panel" class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if current_user&.active? && @beer.picture? %>
          <%= image_tag @beer.picture, class: 'img img-responsive center-block' %>
        <% else %>
          <img src="https://placehold.it/500x500&text=Geen foto" class="img img-responsive center-block">
        <% end %>
        <table class="table table-hover">
          <tr>
            <td>Naam:</td>
            <td><%= @beer.name %></td>
          </tr>
          <tr>
            <td>Soort:</td>
            <td><%= @beer.soort %></td>
          </tr>
          <tr>
            <td>ALC:</td>
            <td><%= @beer.percentage %></td>
          </tr>
          <tr>
            <td>Brouwer:</td>
            <td><%= @beer.brewer %></td>
          </tr>
          <tr>
            <td>Land:</td>
            <td><%= @beer.country %></td>
          </tr>
        </table>
        <% if @beer.URL.present? %>
          <%= link_to 'Meer info', @beer.URL, class: 'btn btn-default btn-block' %>
        <% end %>

        <% if current_user %>
          <hr>
          <div class="btn-group btn-group-vertical">
            <% unless current_user.reviews.find_by(beer_id: @beer.id) %>
              <%= link_to reviews_beer_path(@beer), :class => 'btn btn-default' do %>
                <i class="fas fa-edit"></i> Review dit bier
              <% end %>
            <% end %>
            <%= link_to edit_beer_path(@beer), :class => 'btn btn-default' do %>
              <i class="fas fa-pencil-alt"></i> Wijzig dit bier
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
