<% content_for :title do %>
    <%= @beer.name %>
<% end %>
<div class="row">
  <div class="col-md-8">
    <% @beer.reviews.each do |r| %>
        <div class="review">
          <h4><%= link_to User.find(r.user_id).name, User.find(r.user_id) %> zei over dit bier: </h4>

          <p><i><%= simple_format(r.description) %></i></p>

          <p>
            Dit biertje kreeg een <i><%= r.rating %></i> en is geproefd op
            <i><%= r.proefdatum.strftime('%d-%m-%Y') %></i>
          </p>

          <% if current_user == User.find(r.user_id) || current_user.admin? %>
              <div class="btn-group pull-right">
                <%= link_to edit_review_path(r), class: 'btn btn-default btn-sm' do %>
                    <i class="fa fa-pencil"></i>
                <% end %>
                <% if current_user.admin? %>
                    <%= link_to r, method: :delete, data: {confirm: 'Weet je het zeker?'}, class: 'btn btn-default btn-sm' do %>
                        <i class="fa fa-trash"></i>
                    <% end %>
                <% end %>
              </div>
          <% end %>
        </div>
        <div class="clearfix"></div>
        <hr>
    <% end %>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if @beer.picture? %>
            <%= image_tag(@beer.picture, :class => 'img img-responsive center-block') %>
        <% else %>
            <img src="http://placehold.it/500x500&text=Geen foto" class="img img-responsive center-block">
        <% end %>
        <table class="table table-hover">
          <tr>
            <td>Naam:</td>
            <td align="right"><%= @beer.name %></td>
          </tr>
          <tr>
            <td>Soort:</td>
            <td align="right"><%= @beer.soort %></td>
          </tr>
          <tr>
            <td>ALC:</td>
            <td align="right"><%= @beer.percentage %></td>
          </tr>
          <tr>
            <td>Brouwer:</td>
            <td align="right"><%= @beer.brewer %></td>
          </tr>
          <tr>
            <td>Land:</td>
            <td align="right"><%= @beer.country %></td>
          </tr>
        </table>
        <% if @beer.URL %>
            <%= link_to 'Meer info', @beer.URL, class: 'btn btn-primary btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="btn-group">
  <%= link_to 'Review', reviews_beer_path(@beer), :class => 'btn btn-primary' unless current_user.reviews.find_by(beer_id: @beer.id) %>
  <% if current_user.admin? %>
      <%= link_to 'Edit', edit_beer_path(@beer), :class => 'btn btn-info' %>
  <% end %>
  <%= link_to 'Back', beers_path, :class => 'btn btn-default' %>
</div>
