<% content_for :title do %>
    Recept verbeteren
<% end %>

<div>
  <%= form_for @recipe, url: recipe_path(@recipe) do |f| %>
    <% if @recipe.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@recipe.errors.count, 'error') %> prohibited this recipe from being saved:</h2>

          <ul>
            <% @recipe.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control', required: true, minlength: 2 %>
    </div>
    <div class="form-group">
      <%= f.label :beer %><br>
      <%= f.text_field :beer, class: 'form-control', required: true, minlength: 2 %>
    </div>
    <div class="form-group">
      <%= f.trix_editor :description, class: 'form-control' %>
    </div>
    <div class="actions">
      <%= f.submit :Verstuur, class: 'btn btn-primary' %>
    </div>
<% end %>
</div>
<%= link_to 'Terug', recipe_path(@recipe), class: 'btn btn-default' %>
