<% content_for :title do %>
  Recepten
<% end %>
<table class="tablesorter table table-hover">
  <thead>
    <tr>
      <th>Naam</th>
      <th>Soort</th>
      <th>Gemaakt op</th>
      <th>Laatst verbetert op</th>
      <th>Actions</th>
    </tr>
  </thead>
  <%= will_paginate @recipes %>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr data-link="<%= recipe_path(recipe) %>">
        <td style="width: 50%;"><%= recipe.name %></td>
        <td><%= recipe.beer %></td>
        <td><%= recipe.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= recipe.updated_at.strftime("%d/%m/%Y") %></td>
        <td>
          <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Zeker weten?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <%= will_paginate @recipes %>
</table>
<%= link_to 'Schrijf een recept!', new_recipe_path, class: 'btn btn-block btn-primary' %>
