<%= f.hidden_field :beer_id %>

<%= f.label "Je review", class: label_classes %>
<div class="mt-1">
  <%= f.rich_text_area :actiontext_description, placeholder: 'Wat vonden we ervan?', class: input_classes %>
</div>

<%= f.label :Cijfer, class: label_classes %>
<div class="mt-1">
  <%= f.select :rating, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], {}, { class: input_classes } %>
</div>

<%= f.label :Proefdatum, class: label_classes %>
<div class="mt-1">
  <%= f.date_field :proefdatum, class: input_classes %>
</div>

<%= f.submit "Opslaan", class: submit_classes %>
