<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigationbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="pull-left navbar-brand" style="margin-top: -8px">
          <img src=<%= image_path('logo_transparant_background_small.png') %>>
        </a>

        <%= link_to 'HAMERS', root_path, class: 'navbar-brand', id: 'logo' %>
      </div>
      <div class="collapse navbar-collapse" id="navigationbar">
        <ul class="nav navbar-nav navbar-right">
          <% if current_user&.active? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Voor
                Leden <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to events_path do %><i class="far fa-calendar-alt fa-fw"></i> Activiteiten<% end %></li>
                <li><%= link_to beers_path do %><i class="fa fa-beer fa-fw"></i> Bier<% end %></li>
                <li><%= link_to users_path do %><i class="fa fa-user fa-fw"></i> Leden<% end %></li>
                <li><%= link_to stickers_path do %><i class="far fa-sticky-note fa-fw"></i> Stickers<% end %></li>
                <li><%= link_to recipe_index_path do %><i class="fas fa-book fa-fw"></i> Recepten<% end %></li>
                <li><%= link_to meetings_path do %><i class="fa fa-suitcase fa-fw"></i> Vergaderingen<% end %></li>
                <li><%= link_to trail_path do %><i class="fas fa-history fa-fw"></i> Log<% end %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to blogitems_path do %><i class="fa fa-rss fa-fw"></i> Blog<% end %></li>
                <li><%= link_to news_index_path do %><i class="far fa-newspaper fa-fw"></i> Nieuws<% end %></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Extern</li>
                <li><a target="_blank" href="https://discord.gg/7tH7dWbQkH">
                  <i class="fab fa-fw fa-discord"></i> Discord</a></li>
                <li><a target="_blank" href="https://drive.google.com/drive/folders/0B560gHNlIBG9a0Q5MFR0WWtGWDg">
                  <i class="fab fa-fw fa-google-drive"></i> Google Drive</a></li>
                <li><a target="_blank" href="https://github.com/dispuuthamers/">
                  <i class="fab fa-fw fa-github"></i> GitHub</a></li>
                <li><a target="_blank" href="https://moneybird.com/275570381306201797">
                  <i class="fa fa-fw fa-coins"></i> Moneybird</a></li>
              </ul>
            </li>
            <% if current_user&.admin? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Triumviraat
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to leden_admin_path do %><i class="fa fa-users-cog fa-fw"></i> Ledenadministratie<% end %></li>
                  <li><%= link_to groups_path do %><i class="fa fa-users fa-fw"></i> Groepen<% end %></li>
                  <li><%= link_to new_user_invitation_path do %><i class="fa fa-user-plus fa-fw"></i> Aspirant uitnodigen<% end %></li>
                </ul>
              </li>
            <% end %>
            <% if current_user.dev? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Developer
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <% if Rails.env.development? %>
                    <li>Andere gebruiker: <%= switch_user_select class: 'btn btn-dropdown-toggle' %></li>
                  <% end %>
                  <li><%= link_to 'OAuth-applicaties', oauth_applications_path %></li>
                  <li><%= link_to 'Download database dump', dbdump_path %></li>
                  <% if Rails.env.development? %>
                    <li><%= link_to 'Anonymize', anonymize_path, data: {confirm: 'Het is een tyfuswerk om dit ongedaan te maken dus weet je het zeker?'} %></li>
                  <% end %>
                </ul>
              </li>
            <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Openbare pagina's
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Beheer', public_pages_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Leden", public_leden_path %></li>
                <% PublicPage.where(public: true).each do |pp| %>
                  <li><%= link_to pp.title, "/#{pp.title}" %></li>
                <% end %>
              </ul>
            </li>
          <% else %>
            <li><%= link_to public_leden_path do %><i class="fa fa-user fa-fw"></i> Leden<% end %></li>
            <li><%= link_to beers_path do %><i class="fa fa-beer fa-fw"></i> Bier<% end %></li>
            <li><%= link_to blogitems_path do %><i class="fa fa-rss fa-fw"></i> Blog<% end %></li>
            <% PublicPage.where(public: true).each do |pp| %>
              <li><%= link_to pp.title, "/#{pp.title}" %></li>
            <% end %>
          <% end %>
          <% if current_user %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to current_user do %><i class="fa fa-user-circle fa-fw"></i> Profiel<% end %></li>
                <li><%= link_to personal_sticker_path do %><i class="far fa-sticky-note fa-fw"></i> Mijn stickers<% end %></li>
                <li><%= link_to oauth_authorized_applications_path do %><i class="fa fa-unlock fa-fw"></i> Mijn authorisaties<% end %></li>
                <li><%= link_to edit_user_path(current_user) do %><i class="fa fa-wrench fa-fw"></i> Instellingen<% end %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to destroy_user_session_path, method: 'delete' do %>
                    <i class="fas fa-sign-out-alt fa-fw"></i> Uitloggen
                  <% end %>
                </li>
              </ul>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
