<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "HAMERS", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Help",    help_path %></li>
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Voor Leden <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Leden", users_path %></li>
                <li><%= link_to "Stemmingen", polls_path %></li>
                <li><%= link_to "Activiteiten", events_path %></li>
              </ul>
            </li>
	      <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Mijn Profiel", current_user %></li>
                <li><%= link_to "Instellingen", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>

