<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigationbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="pull-left navbar-brand" style="margin-top: -8px">
          <img src=<%= image_path('logo_transparant_background_small.png') %>>
        </a>

        <%= link_to 'HAMERS', root_path, class: 'navbar-brand', id: 'logo' %>
      </div>
      <div class="collapse navbar-collapse" id="navigationbar">
        <ul class="nav navbar-nav navbar-right">
          <% if current_user&.active? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Voor
                Leden <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to events_path do %><i class="far fa-calendar-alt fa-fw"></i> Activiteiten<% end %></li>
                <li><%= link_to beers_path do %><i class="fa fa-beer fa-fw"></i> Bier<% end %></li>
                <li><%= link_to nicknames_path do %><i class="fa fa-address-book fa-fw"></i> Bijnamen<% end %></li>
                <li><%= link_to users_path do %><i class="fa fa-user fa-fw"></i> Leden<% end %></li>
                <li><%= link_to stickers_path do %><i class="far fa-sticky-note fa-fw"></i> Stickers<% end %></li>
                <li><%= link_to meetings_path do %><i class="fa fa-suitcase fa-fw"></i> Vergaderingen<% end %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to blogitems_path do %><i class="fa fa-rss fa-fw"></i> Blog<% end %></li>
                <li><%= link_to news_index_path do %><i class="far fa-newspaper fa-fw"></i> Nieuws<% end %></li>
                <li><%= link_to public_pages_path do %><i class="fa fa-file-alt fa-fw"></i> Openbare pagina's<% end %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to new_user_invitation_path do %><i class="fa fa-user-plus fa-fw"></i> Lid uitnodigen<% end %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to stats_path do %><i class="fas fa-chart-line fa-fw"></i> Statistieken<% end %></li>
                <li><%= link_to trail_path do %><i class="fas fa-history fa-fw"></i> Log<% end %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Brouwerij
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to recipe_index_path do %><i class="fas fa-book fa-fw"></i> Recepten<% end %></li>
                <li><%= link_to 'https://brewery.zondersikkel.nl/' do %><i class="fas fa-external-link-alt fa-fw"></i> Oude brouwerij<% end %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Overig
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <% if current_user&.admin? %>
                  <li class="dropdown-header">Triumviraat</li>
                  <li><%= link_to 'Groepen', groups_path %></li>
                  <li><%= link_to 'Ledenadministratie', leden_admin_path %></li>
                  <li role="separator" class="divider"></li>
                <% end %>
                <% if current_user.dev? %>
                  <li class="dropdown-header">Developer</li>
                  <%= switch_user_select class: 'btn btn-dropdown-toggle' %>
                  <li><%= link_to 'OAuth-applicaties', oauth_applications_path %></li>
                  <li><%= link_to 'Download DB', dbdump_path %></li>
                  <% if Rails.env.development? %>
                    <li><%= link_to 'Anonymize', anonymize_path, data: {confirm: 'Het is een tyfuswerk om dit ongedaan te maken dus weet je het zeker?'} %></li>
                  <% end %>
                <% end %>
                <li class="dropdown-header">Openbare pagina's</li>
                <li><%= link_to "Leden", public_leden_path %></li>
                <% PublicPage.where(public: true).each do |pp| %>
                  <li><%= link_to pp.title, "/#{pp.title}" %></li>
                <% end %>
              </ul>
            </li>
          <% else %>
            <li><%= link_to public_leden_path do %><i class="fa fa-user fa-fw"></i> Leden<% end %></li>
            <li><%= link_to beers_path do %><i class="fa fa-beer fa-fw"></i> Bier<% end %></li>
            <li><%= link_to blogitems_path do %><i class="fa fa-rss fa-fw"></i> Blog<% end %></li>
            <% PublicPage.where(public: true).each do |pp| %>
              <li><%= link_to pp.title, "/#{pp.title}" %></li>
            <% end %>
          <% end %>
          <% if current_user %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to current_user do %><i class="fa fa-user-circle fa-fw"></i> Profiel<% end %></li>
                <li><%= link_to personal_sticker_path do %><i class="far fa-sticky-note fa-fw"></i> Mijn stickers<% end %></li>
                <li><%= link_to oauth_authorized_applications_path do %><i class="fa fa-unlock fa-fw"></i> Mijn authorisaties<% end %></li>
                <li><%= link_to edit_user_path(current_user) do %><i class="fa fa-wrench fa-fw"></i> Instellingen<% end %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to destroy_user_session_path, method: 'delete' do %>
                    <i class="fas fa-sign-out-alt fa-fw"></i> Uitloggen
                  <% end %>
                </li>
              </ul>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
