<% menu_items = {
  Activiteiten: { description: "Wat gaan we doen?", path: events_path, icon: 'calendar' },
  Bier: { description: "Heb je nog wat gedronken?", path: beers_path, icon: 'emoji-happy' },
  Leden: { description: "Overzicht van onze leden", path: users_path, icon: 'user' },
  Groepen: { description: "Groepen binnen het dispuut", path: usergroups_path, icon: 'user-group' },
  Stickers: { description: "Waar hangen onze stickers?", path: stickers_path, icon: 'chip' },
  Recepten: { description: "Wat hebben wij gebrouwen?", path: recipes_path, icon: 'beaker' },
  Vergaderingen: { description: "Lees hier de notulen", path: meetings_path, icon: 'chat-alt-2' },
  Log: { description: "Logs van de website", path: trail_path, icon: 'book-open' },
  Blog: { description: "Wat hebben we gedaan?", path: blogitems_path, icon: 'pencil-alt' },
  Nieuws: { description: "Is er nog een nieuwtje?", path: news_index_path, icon: 'rss' },
} %>

<% user_items = {
  Profiel: { description: "Mijn account", path: current_user, icon: 'user-circle' },
  Instellingen: { description: "Mijn account aanpassen", path: edit_user_path(current_user), icon: 'pencil' },
  Autorisaties: { description: "Mijn OAuth autorisaties", path: oauth_authorized_applications_path, icon: 'lock-closed' },
  Uitloggen: { description: "Uitloggen van de website", path: destroy_user_session_path, icon: 'logout', method: :delete },
} %>

<% external_links = {
  Discord: { url: 'https://discord.gg/7tH7dWbQkH', icon: 'fab fa-discord' },
  'Google Drive': { url: 'https://drive.google.com/drive/folders/0AJQtnx7mawWRUk9PVA', icon: 'fab fa-google-drive' },
  Github: { url: 'https://github.com/dispuuthamers/', icon: 'fab fa-github' },
  Moneybird: { url: 'https://moneybird.com/275570381306201797', icon: 'fa fa-coins' }
} %>

<nav class="bg-gray-900">
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <div class="border-b border-gray-700">
      <div class="flex items-center justify-between h-16 px-4 sm:px-0">
        <div class="flex items-center">
          <%= link_to root_path do %>
            <div class="flex-shrink-0">
              <img class="h-8 w-6" src="<%= image_path('logo_transparant_background_small.png') %>" alt="Hamers">
            </div>
          <% end %>
        </div>

        <div class="hidden md:block">
          <div class="ml-4 flex items-center md:ml-6">
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">
                <div data-controller="dropdown"
                     data-dropdown-invisible-class="opacity-0 scale-95"
                     data-dropdown-visible-class="opacity-100 scale-100"
                     data-dropdown-entering-class="ease-out duration-100"
                     data-dropdown-enter-timeout="300"
                     data-dropdown-leaving-class="ease-in duration-100"
                     data-dropdown-leave-timeout="300">
                  <button class="text-gray-300 px-3 py-2 rounded-md text-sm font-medium" data-action="click->dropdown#toggle click@window->dropdown#hide" id="leden-menu">
                    <%= heroicon('menu', style: :outline, class_name: "block h-6 w-6") %>
                  </button>

                  <div class="absolute z-10 -ml-4 mt-2 transform px-2 w-screen max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2 opacity-0 scale-95" data-dropdown-target="menu">
                    <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden">
                      <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8 lg:grid-cols-2">
                        <% menu_items.each do |name, options| %>
                          <%= link_to options[:path], class: "-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50" do %>
                            <div class="flex-shrink-0 flex items-center justify-center h-10 w-10 rounded-md bg-hamers-red-500 text-white sm:h-12 sm:w-12">
                              <%= heroicon(options[:icon], style: :outline, class_name: "h-6 w-6") %>
                            </div>
                            <div class="ml-4">
                              <p class="text-base font-medium text-gray-900"><%= name %></p>
                              <p class="mt-1 text-sm text-gray-500"><%= options[:description] %></p>
                            </div>
                          <% end %>
                        <% end %>
                      </div>

                      <div class="justify-center px-5 py-5 bg-gray-50 space-y-6 sm:flex sm:space-y-0 sm:space-x-10 sm:px-8">
                        <% external_links.each do |_, options| %>
                          <div class="flow-root">
                            <%= link_to options[:url], target: :blank, class: "-m-3 p-1 flex items-center rounded-md text-base font-medium text-gray-500 hover:bg-gray-100 transition ease-in-out duration-150" do %>
                              <span class="m-1"><i class="fa-fw <%= options[:icon] %>"></i></span>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="hidden md:block">
          <div class="ml-4 flex items-center md:ml-6">
            <div class="ml-3 relative" data-controller="dropdown"
                 data-dropdown-invisible-class="opacity-0 scale-95"
                 data-dropdown-visible-class="opacity-100 scale-100"
                 data-dropdown-entering-class="ease-out duration-100"
                 data-dropdown-enter-timeout="300"
                 data-dropdown-leaving-class="ease-in duration-100"
                 data-dropdown-leave-timeout="300">
              <div>
                <button type="button" class="max-w-xs bg-gray-800 rounded-full flex items-center text-sm focus:outline-none focus:ring-2 focus:ring-hamers-yellow-500" data-action="click->dropdown#toggle click@window->dropdown#hide" id="user-menu">
                  <span class="sr-only">Open user menu</span>
                  <%= gravatar_for current_user, class: "h-8 w-8 rounded-full" %>
                </button>
              </div>

              <div class="z-10 origin-top-right absolute right-0 mt-2 w-screen max-w-md rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none opacity-0 scale-95" role="menu" tabindex="-1" data-dropdown-target="menu">
                <div class="overflow-hidden">
                  <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8 lg:grid-cols-2">
                    <% user_items.each do |name, options| %>
                      <%= link_to options[:path], class: "-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50", method: (options[:method] if options[:method]) do %>
                        <div class="flex-shrink-0 flex items-center justify-center h-10 w-10 rounded-md bg-hamers-red-500 text-white sm:h-12 sm:w-12">
                          <%= heroicon(options[:icon], style: :outline, class_name: "h-6 w-6") %>
                        </div>

                        <div class="ml-4">
                          <p class="text-base font-medium text-gray-900"><%= name %></p>
                          <p class="mt-1 text-sm text-gray-500"><%= options[:description] %></p>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="-mr-2 flex md:hidden">
          <!-- Mobile menu button -->
          <div data-controller="dropdown"
               data-dropdown-invisible-class="opacity-0 scale-95"
               data-dropdown-visible-class="opacity-100 scale-100"
               data-dropdown-entering-class="ease-out duration-100"
               data-dropdown-enter-timeout="300"
               data-dropdown-leaving-class="ease-in duration-100"
               data-dropdown-leave-timeout="300">
            <button type="button" class="bg-gray-800 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-gray-800 focus:ring-white" data-action="click->dropdown#toggle click@window->dropdown#hide">
              <span class="sr-only">Open main menu</span>
              <%= heroicon('menu', style: :outline, class_name: "block h-6 w-6") %>
            </button>

            <div class="absolute z-10 -ml-1 mt-3 transform px-2 w-screen max-w sm:px-0 ml-0 left-1/2 -translate-x-1/2 opacity-0 scale-95" data-dropdown-target="menu">
              <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden">
                <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8 grid-cols-2">

                  <% menu_items.each do |name, options| %>
                    <%= link_to options[:path], class: "-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50" do %>
                      <div class="flex-shrink-0 flex items-center justify-center h-10 w-10 rounded-md bg-hamers-red-500 text-white sm:h-12 sm:w-12">
                        <%= heroicon(options[:icon], style: :outline, class_name: "h-6 w-6") %>
                      </div>
                      <div class="ml-4">
                        <p class="text-base font-medium text-gray-900"><%= name %></p>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="-mr-2 flex md:hidden">
          <!-- Mobile menu button -->
          <div data-controller="dropdown"
               data-dropdown-invisible-class="opacity-0 scale-95"
               data-dropdown-visible-class="opacity-100 scale-100"
               data-dropdown-entering-class="ease-out duration-100"
               data-dropdown-enter-timeout="300"
               data-dropdown-leaving-class="ease-in duration-100"
               data-dropdown-leave-timeout="300">
            <button type="button" class="bg-gray-800 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-gray-800 focus:ring-white" data-action="click->dropdown#toggle click@window->dropdown#hide">
              <span class="sr-only">Open account menu</span>
              <%= gravatar_for current_user, class: "h-8 w-8 rounded-full" %>
            </button>

            <div class="absolute z-10 -ml-1 mt-3 transform px-2 w-screen max-w sm:px-0 ml-0 left-1/2 -translate-x-1/2 opacity-0 scale-95" data-dropdown-target="menu">
              <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden">
                <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8 grid-cols-2">
                  <% user_items.each do |name, options| %>
                    <%= link_to options[:path], class: "-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50", method: (options[:method] if options[:method]) do %>
                      <div class="flex-shrink-0 flex items-center justify-center h-10 w-10 rounded-md bg-hamers-red-500 text-white sm:h-12 sm:w-12">
                        <%= heroicon(options[:icon], style: :outline, class_name: "h-6 w-6") %>
                      </div>

                      <div class="ml-4">
                        <p class="text-base font-medium text-gray-900"><%= name %></p>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
