<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hamers zonder Sikkel</title>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>

    <%= csrf_meta_tags %>
  </head>
  <body class="h-screen">
    <div class="bg-gray-100 h-full">
      <div class="bg-gray-800 pb-32">
        <%= render 'layouts/nav' %>

        <% flash.each do |key, value| %>
          <% if key == "notice" %>
            <% key = "info" %>
          <% elsif key == "error" || key == "alert" %>
            <% key = "danger" %>
          <% end %>
          <div class="alert alert-<%= key %> text-center" role="alert"><%= value %></div>
        <% end %>

        <% if content_for?(:title) %>
          <header class="py-10">
              <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <h1 class="text-3xl font-bold text-white">
                  <%= yield :title %>
                </h1>
                <div class="text-white">
                  <%= render 'shared/breadcrumbs' %>
                </div>
              </div>
          </header>
        <% end %>
      </div>

      <main class="-mt-32">
        <div class="max-w-7xl mx-auto pb-12 px-4 sm:px-6 lg:px-8">
          <div class="bg-white rounded-lg shadow px-5 py-6 sm:px-6">
            <%= yield %>
          </div>
        </div>
      </main>

      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
