<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hamers zonder Sikkel</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag '//www.google.com/jsapi', 'chartkick' %>
    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js', 'data-turbolinks-track' => true %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <% if key == "notice" %>
          <% key = "info" %>
        <% elsif key == "error" || key == "alert" %>
          <% key = "danger" %>
        <% end %>
        <div class="alert alert-<%= key %> text-center" role="alert"><%= value %></div>
      <% end %>
      <% if content_for?(:title) %>
        <div class="row">
          <div class="col-md-12 text-center">
            <h1><%= yield(:title) %></h1>
            <%= render 'shared/breadcrumbs' %>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>
      <hr>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
