<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hamers zonder Sikkel</title>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>

  <%= csrf_meta_tags %>
</head>
<body>
<div class="container mx-auto">
  <%= render 'layouts/alert' %>

  <% if content_for?(:title) %>
    <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
      <div class="text-center">
        <h1 class="text-4xl font-semibold text-gray-900 lg:text-5xl"><%= yield :title %></h1>
      </div>
    </div>
  <% end %>

  <%= yield %>

  <nav class="flex flex-wrap justify-center">
    <% pages = {
      Home: root_path,
      Leden: public_leden_path,
      Bieren: beers_path,
      Blog: blogitems_path,
      Privacyverklaring: privacy_path
    } %>

    <% pages.each do |name, path| %>
      <div class="px-5 py-2">
        <%= link_to name, path, class: "text-base text-gray-500 hover:text-gray-900" %>
      </div>
    <% end %>

    <% PublicPage.where(public: true).each do |pp| %>
      <div class="px-5 py-2">
        <%= link_to pp.title, "/#{pp.title}", class: "text-base text-gray-500 hover:text-gray-900" %>
      </div>
    <% end %>
  </nav>

  <%= render 'layouts/footer' %>
  <%= render 'layouts/debug' if Rails.env.development? && params[:debug] == "true" %>
</div>
</body>
</html>
